.reset-password{
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background: #33adad;
}
.reset-password .container{
    max-width: 530px;
    padding: 5vw 3vw;
    background: #fff;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
}
.paswrd_change label{
	font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 0 0 6px;
    width: 100%;
    display: inline-block;

}

.paswrd_change input{
    background: #ffffff;
    font-size: 15px;
    height: 48px;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border: 1px solid #e4e4e4;
    outline: none;
    padding: 6px 25px;
    position: relative;
}

.paswrd_change i{
    position: absolute;
    right: 28px;
    margin: 18px 0 0;
    cursor: pointer;
}

.submit {
    text-align: center;
}

.submit button{
    margin: 10px 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 1;
    border: none;
    color: #FFF;
    background: #faa742;
    border-radius: 50px;
    height: 48px;
    width: 100%;
    padding-top: 9px;
}

button.back_btn {
    background: transparent;
    border: 0;
    font-size: 18px;
    margin: 18px 0 0;
    color: #000000;
    position: absolute;
    left: 0;
    top: -70px;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
    position: static!important;
}


button.back_btn:focus{
    outline: none;
}

.fpass .btn:last-child {
    float: right;
}

.site-logo h4 {
    margin-top: 30px;
    font-size: 30px !important;
    margin-bottom: 0 !important;
    color: #30c7c2;
}

.site-logo {
    text-align: center;
}

.site-logo h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}


.fpass button{
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0px;
    z-index: 6;
    position: relative;
    border: none;
}


@media(min-width:320px) and (max-width: 767px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.dashh{width: 100%;}
.paswrd_change i{right: 40px;}
.submit button{width: 100%;}
button.back_btn{margin: 0px;}
p.message.alert{display:none;}
.dashh{padding: 10px 15px 30px;}
}


@media(min-width:768px) and (max-width: 991px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.dashh{width: 100%;}
.paswrd_change i{right: 40px;}
}


@media(min-width:992px) and (max-width: 1199px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.dashh{width: 100%;}
.paswrd_change i{right: 40px;}
}
