<div class=reset-password>
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="dashh paswrd_change">
                    <div class="site-logo"><img src="assets/img/eprice_black.png" alt="" />
                        <h4>Password Reset</h4>
                    </div>
                    <p class="message alert" [ngClass]="successClass">{{message}}</p>
                    <form [formGroup]="resetpass_form" class="mt-3" (ngSubmit)="ResetPassword(resetpass_form.value)">
                        <div class="form-group custom_width">
                            <input id="newPW" formControlName="NewPassword" autocomplete="off" placeholder="New Password *" type="password" [ngClass]="{ 
                         'is-invalid': submitted && f.NewPassword.errors || f.NewPassword.touched || f.NewPassword.dirty}">
                            <i class="fa fa-eye-slash" (click)="showPassword($event,NewPassword)"> </i>
                            <div *ngIf="f.NewPassword.errors && f.NewPassword.dirty" class="invalid-feedback">
                                <div *ngIf="f.NewPassword.errors.required">This field is required</div>
                                <div *ngIf="f.NewPassword.errors.minlength || f.NewPassword.errors.pattern" style="color:#f00!important;">Password requires 8 or more characters and must include a number, capital letter and a special character(!,$ etc.).</div>
                            </div>
                        </div>

                        <div class="form-group custom_width">
                            <input id="confirm" formControlName="ConfirmPassword" autocomplete="off" placeholder="Confirm new password *" type="password" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors || f.ConfirmPassword.touched || f.ConfirmPassword.dirty}">
                            <i class="fa fa-eye-slash" (click)="showPassword($event,ConfirmPassword)"> </i>

                            <div *ngIf="f.ConfirmPassword.errors && f.ConfirmPassword.dirty" class="invalid-feedback">
                                <div *ngIf="f.ConfirmPassword.errors.required">This field is required</div>
                                <div *ngIf="f.ConfirmPassword.errors.mustMatch || f.ConfirmPassword.errors.minlength || f.ConfirmPassword.errors.pattern " style="color:#f00!important;">Confirm Passwords must match</div>
                            </div>

                        </div>
                        <div class="submit">
                            <button [disabled]="resetpass_form.invalid" class="btn" type="submit">Submit</button>
                        </div>
                    </form>
                    <div class="fpass">
                        <button (click)="login()" class="btn btn-default">Login</button>
                        <button (click)="register()" class="btn btn-default">Create an Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>