
  div#sidebar {
	max-width: 260px;
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	background: #ffffff;
	box-shadow: 0px 0px 11px 0px #0001;
}

header#header {
	width:100%!important;
	position: fixed;
	right: 0;
	padding: 15px 20px;
	text-align: right;
	background: #2f3030;
}

input#searchs::placeholder {
	color: #fff;
}

.sidebar-menu ul li.active {
	background-color: #30c7c2;
}
li.active span {
	color: black;
}

.form-control {
	background: #6969691a;
	font-size: 12px;
	height: 40px;
	border-radius: 1px;
	max-width: 280px;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid #e4e4e4;
	padding: .375rem 2.25rem .375rem .75rem;
	color: #fff;
}

.form-control:focus {
	border-bottom: 1px solid #000;
}

form input.form-control:focus, .fpass button:focus {
	box-shadow: none;
}

a .fa {
	color: #fff;
}

.searchbar {
	width: 280px;
	display: inline-block;
	position: relative;
}

.searchbar a {
	position: absolute;
	right: 11px;
	top: 7px;
	display: inline-block;
}

.headbar > span {
	display: inline-block;
	margin: 0 5px;
	width: 24px;
	text-align: center;
	height: 24px;
	line-height: 24px;
}

span.usr-img {
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	background: #0000001a;
	border-radius: 50%;
	margin: 0 7px 0 0;
}

.profile {
	display: inline-block;
}

.logo img {
	max-width: 180px;
}

.logo a {
	display: inline-block;
}

.logo {
	height: 80px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #eeeeee;
}

ul.side-nav {
	list-style: none;
	text-align: left;
	padding: 0;
}

ul.side-nav li a:hover {
	background: #2f3030;
	color: #fff;
}

ul.side-nav li a {
	display: block;
	color: #000;
	font-weight: 600;
	padding: 20px 20px 20px 70px;
	text-decoration: none;
}

body {
	background: #ededed;
}


.headbar .title {
	color: #FFF;
	float: left;
	font-size: 22px;
	margin: 0;
	padding:11px 0 0 30px;
}

.side-nav li a i {
	color: #333!important;
	font-size: 17px;
	padding: 0 12px 0 0;
}

.side-nav li:focus{
  outline:none;
  box-shadow:none;
  border:0px;
}

ul.side-nav li a:hover i{
	color:#FFF!important;
}

ul.side-nav li a:hover .btn-group.show-on-hover button {
	   color: #FFF;
}





.show-on-hover:hover > ul.dropdown-menu {
	display: block;
	padding: 0;
	width: 100%;
	margin: 0px 0 0 0;
	width: 263px!important;
	left: -101px;
}

.btn-group.show-on-hover button {
	padding: 0;
	margin: -7px 0 0;
	color: #000;
	font-weight: 600;
}

ul.dropdown-menu li a {
	padding: 0 0 0 15px!important;
	margin: 0px 0 0;
	line-height: 45px;
	text-align: center;
}


.notification_bell i.fa.fa-bell {
  padding: 0 15px 0 15px;
}

.notification_bell {
  display: inline-block;
}


/* Side Bar Css */

@keyframes swing {
  0% {
	transform: rotate(0deg);
  }
  10% {
	transform: rotate(10deg);
  }
  30% {
	transform: rotate(0deg);
  }
  40% {
	transform: rotate(-10deg);
  }
  50% {
	transform: rotate(0deg);
  }
  60% {
	transform: rotate(5deg);
  }
  70% {
	transform: rotate(0deg);
  }
  80% {
	transform: rotate(-5deg);
  }
  100% {
	transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
	transform: scale(0.9);
	opacity: 1;
  }
  100% {
	transform: scale(2);
	opacity: 0;
  }
}
body {
  font-size: 0.9rem;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

/*.page-wrapper {
  height: 100vh;
}
*/
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
	padding-left: 300px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 20px;
  top: 23px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
  font-size:15px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;

}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
	font-family: 'FontAwesome';
  content: '\f105';
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 11px;
   content: "\f000";
	font-family: FontAwesome;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 20px 40px;
}

.page-wrapper .page-content {
  overflow-x: hidden;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
	background: #2f3030;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
	border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	border-color: transparent;
	box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
	color: #FFF;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
	color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
	color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
	color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
	color: #16c7ff;
	text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
	background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
	color: #6c7b88;
}

.chiller-theme .sidebar-footer {
	background: #3a3f48;
	box-shadow: 0px -1px 5px #282c33;
	border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
	border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
	border-right: none;
}

.sidebar-brand img {
	max-width: 180px;
	padding: 10px 0 10px 10px;
}

#close-sidebar i {
	color: #FFF;
}



.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  padding: 10px 30px 10px 20px;
  background-color:inherit;
  cursor: pointer;
  white-space: nowrap;
  color: #FFF;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFF;
}

.dd-button:hover {
  background-color: inherit;
}


.dd-input {
  display: none;
}

.dd-menu {
	position: absolute;
	top: 127%;
	border: 0px solid #ccc;
	border-radius: 2px;
	padding: 0;
	margin: 10px 0 0 20px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
	background-color: #30c7c2;
	list-style-type: none;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px;
}

.dd-menu:hover{
  background:#f9991f;
}

.dd-menu li a {
	color: #FFF;
	font-size: 16px;
	font-weight: 500;
}

.dd-button i {
	color: #f99920;
	font-size: 20px;
	position: relative;
	top: 1px;
}

.dd-input + .dd-menu {
  display: none;
} 

.dd-input:checked + .dd-menu {
  display: block;
} 

.dd-menu li {
  padding: 6px 40px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color:transparent;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.dd-button i {
	padding: 0 8px 0 0;
}

.dd-menu li a:hover {
	text-decoration: none;
}

.headbar button.back-page-btn {
	float: left;
	margin-top: 11px;
	background: #30c7c2;
	border: none;
	color: #fff;
	padding: 4px 20px;
	position: relative;
	padding-left: 25px;
}

.headbar button.back-page-btn:before {
	content: "";
	text-align: center;
	font-family: 'FontAwesome';
	content: '\f105';
	color: rgba(255, 255, 255, 0.7);
	font-weight: normal;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	display: inline-block;
	left: 9px;
	top: 2px;
	font-size: 20px;position: absolute;
}


.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before{
	display:none;
}

select{
  -moz-appearance: none!important;
  -webkit-appearance: none!important;
}

.mydp .btnclearenabled:hover, .mydp .btndecreaseenabled:hover, .mydp .btnincreaseenabled:hover, .mydp .btnpickerenabled:hover, .mydp .headertodaybtnenabled:hover{
      background-color: #ffffff!important;
}


@media(min-width:320px) and (max-width: 767px){

header{width: 100%!important; position: static;}
.searchbar{margin:20px 0 15px; width: 100%; }
.searchbar a{right: 0px; }
.notification_bell i.fa.fa-bell {padding: 0 18px 0 0; }
.notification_bell {text-align: right; width: 100%; }
.profile {position: relative; top: 2px; }
.profile i {font-size: 17px; }
#show-sidebar{left: 30px; top: 24px; border-radius: 3px; background:#30c7c2; }
#show-sidebar i{color:#FFF;}


}

@media(min-width:768px) and (max-width: 991px){
header#header{width: 100%!important;}
 }
