<body>
    <div class="dashbrd">
        <header id="header">
            <div class="headbar">
                <!---<h2 class="title">Welcome to Price Simulator</h2>-->
                <!-- <button type="button" (click)="backClicked()" class="back-page-btn">Back</button> -->
                <div class="notification_bell">
                    <div class="profile">
                        <div class="btn-group drop">
                            <label class="dropdown">
							<div class="dd-button" >
								<img src={{profileimg}} style="width: 30px; height: 30px; border-radius: 15px;"/> 
							 {{ name | titlecase}}
							</div>
							<input type="checkbox" class="dd-input" [checked]="checkValue" id="test">
							<ul class="dd-menu">
								<li id="hh"><a (click)="logout()" href="#">Logout</a></li>
							</ul>
						</label>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper chiller-theme toggled" id="removetoggled">
            <a (click)="onSidebaropen()" [routerLink]="" id="show-sidebar" class="btn btn-sm btn-dark">
                <i class="fa fa-bars"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <div id="close-sidebar">
                            <i (click)="onSidebarClose()" class="fa fa-arrow-left"></i>
                        </div>
                        <span><img src="assets/img/new_logo.png"></span>
                    </div>
                    <div class="sidebar-menu">
                        <ul>
                            <li *ngIf="userDetail.userType" [routerLinkActive]="['active']">
                                <a [routerLink]="['/dashboard']"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Dashboard</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'admin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/view']"><i class="fa fa-shopping-cart"></i><span>Procedures</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'admin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/disclaimer']"><i class="fa fa-shopping-cart"></i><span>Disclaimer</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/webuser']"><i class="fa fa-cog"></i><span>Vendor</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/vendorProcedure']"><i class="fa fa-cog"></i><span>Vendor Procedures</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/doctortype']"><i class="fa fa-cog"></i><span>Provider Type/Speciality</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/module']"><i class="fa fa-cog"></i><span>Module</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/procedurecategory']"><i class="fa fa-cog"></i><span>Procedure Category</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/procedure']"><i class="fa fa-cog"></i><span>Procedure</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'admin' || userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/user']"><i class="fa fa-tasks" aria-hidden="true"></i><span>Users/Manage Leads</span></a>
                            </li>
                            <li *ngIf="userDetail.userType" [routerLinkActive]="['active']">
                                <a [routerLink]="['/manage-profile']"><i class="fa fa-user" aria-hidden="true"></i><span>Manage Profile</span></a>
                            </li>

                            <li *ngIf="userDetail.userType === 'admin' || userDetail.userType === 'superadmin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/change-password']"><i class="fa fa-key" aria-hidden="true"></i><span>Change Password</span></a>
                            </li>
                            <li *ngIf="userDetail.userType === 'admin'" [routerLinkActive]="['active']">
                                <a [routerLink]="['/settings']"><i class="fa fa-cog"></i><span>API key</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <button id="tested" hidden (click)="get_CurrentUser()"></button>
    </div>