<app-header></app-header>

<div class="dash boxed-container">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-6">
                    <h2 class="htitle">Module List</h2>
                </div>
                <div class="col-6">
                    <button class="add_module" data-toggle="modal" data-target="#myModal" (click)="addModule()" style="float: right; margin: 15px">Add Module</button>
                </div>
            </div>
            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">Module Name</th>
                            <th style="width: auto;">Doctor Type</th>
                            <th style="width: auto;">Create At</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of moduleList | paginate: { itemsPerPage: range, currentPage: activePage, totalItems: totalCount } ; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{data.module_name }}</td>
                            <td>{{data.doc_type }}</td>
                            <td>{{date_change(data.moduleCreate)}}</td>
                            <td style=" cursor: pointer;">
                                <!-- <a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a> -->
                                <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"> <a (click)="editmodule(data.moduleId)" data-toggle="modal" data-target="#myModal" class="edit"><i class="fa fa-edit"></i></a></button>
                                <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="tool_tip"><a (click)="deletemodule(data.moduleId)" class="edit"><i class="fa fa-trash"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
        <!-- <div class="col-md-12 text-center" *ngIf="totalCount>range">
            <app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div> -->
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{moduleId ? "Edit Module" : "Add Module"}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="moduleForm">
                    <div class="form-group">
                        <label class="center-block">Module Name *</label>
                        <input class="form-control" formControlName="module_name">
                    </div>
                    <div style="color: red; float: right;" *ngIf="popupSub && isSubmit && moduleForm.controls.module_name.errors && moduleForm.controls.module_name.errors.required">This field is required</div>
                    <!-- <div style="color: red; float: right;" *ngIf="isSubmit && moduleForm.controls.module_name.errors && (moduleForm.controls.module_name.errors.minlength || moduleForm.controls.module_name.errors.pattern)">Minimum length 3 and write it correct form</div> -->
                    <div class="form-group">
                        <label class="center-block">Select Doctype *</label>
                        <select formControlName="doc_id">
                            <option [value]="data.id" *ngFor="let data of doctorList">{{data.doc_type}}</option>
                        </select>
                    </div>
                    <div style="color: red; float: right;" *ngIf="popupSub && isSubmit && moduleForm.controls.doc_id.errors">This field is required</div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit()">Submit </button>
                <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>