    <app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div class="row">

            <div class="user-form dashh">
                <h2>Manage Profile</h2>
                <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>

                <div class="tabs_upper">
                    <ul>
                        <li [ngClass]="{'active': selectedItem == 1}">
                            <button (click)="showDiv(true,1)">Profile Details</button>
                        </li>
                        <li [ngClass]="{'active': selectedItem == 2}">
                            <button (click)="showDiv(false,2)">Business Logo</button>
                        </li>
                    </ul>
                </div>
                <div class="Manage_profile" *ngIf="profileShow">
                    <p class="message alert" [ngClass]="successClass">{{message}}</p>
                    <form focusInvalidInput [formGroup]="editProfileForm" class="container mt-3" (ngSubmit)="Save_Edited_Profile(editProfileForm)">
                        <div id="profile_info" *ngIf="CurrentUser">
                            <h3>{{ CurrentUser.first_name }} {{ CurrentUser.last_name }}</h3>
                            <div class="form-group" *ngIf="userRole!=='superadmin'">
                                <label for="name" class="labels">Specialty *</label>
                                <input type="text" style="background-color: lightgray;" formControlName="module_name">
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="name" class="labels">Provider First Name *</label>
                                    <input type="text" formControlName="first_name" [ngClass]="{'is-invalid': submitted && f.first_name.errors || f.first_name.touched || f.first_name.dirty}">
                                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                        <div *ngIf="f.first_name.errors.required">This field is required</div>
                                        <div *ngIf="f.first_name.errors.minlength">Minimum length is 3</div>
                                        <div *ngIf="f.first_name.errors.pattern">Invalid Character</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="name" class="labels">Provider Last Name *</label>
                                    <input type="text" formControlName="last_name" [ngClass]="{'is-invalid': submitted && f.last_name.errors || f.last_name.touched || f.last_name.dirty}">
                                    <div *ngIf="submitted && f.last_name.errors " class="invalid-feedback">
                                        <div *ngIf="f.last_name.errors.required">LThis field is required</div>
                                        <div *ngIf="f.last_name.errors.minlength">Minimum length is 3</div>
                                        <div *ngIf="f.last_name.errors.pattern">Invalid Character</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col">
                                    <label for="name" class="labels">Name of Practice / Business *</label>
                                    <input type="text" formControlName="name_of_point" [ngClass]="{'is-invalid': submitted && f.name_of_point.errors || f.name_of_point.touched || f.name_of_point.dirty}" />
                                    <div *ngIf="submitted && f.name_of_point.errors " class="invalid-feedback">
                                        <div *ngIf="f.name_of_point.errors.required">This field is required</div>
                                        <div *ngIf="f.name_of_point.errors.minlength">Minimum length is 1</div>
                                        <div *ngIf="f.name_of_point.errors.pattern">Invalid Character</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="email" class="labels">Email of Practice / Business *</label>
                                    <input type="text" formControlName="email_of_point" [ngClass]="{'is-invalid': submitted && f.email_of_point.errors || f.email_of_point.touched || f.email_of_point.dirty}" />
                                    <div *ngIf="submitted && f.email_of_point.errors " class="invalid-feedback">
                                        <div *ngIf="f.email_of_point.errors.required">This field is required</div>
                                        <div *ngIf="f.email_of_point.errors.email">Please enter valid email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="name" class="labels">Name of Administrator *</label>
                                    <input type="text" formControlName="name_of_point_admin" [ngClass]="{'is-invalid': submitted && f.name_of_point_admin.errors || f.name_of_point_admin.touched || f.name_of_point_admin.dirty}" />
                                    <div *ngIf="submitted && f.name_of_point_admin.errors " class="invalid-feedback">
                                        <div *ngIf="f.name_of_point_admin.errors.required">This field is required</div>
                                        <div *ngIf="f.name_of_point_admin.errors.minlength">Minimum length 3</div>
                                        <!-- <div *ngIf="f.name_of_point_admin.errors.maxlength">Maximum length 15</div> -->
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="email" class="labels">Email of Administrator *</label>
                                    <input type="text" formControlName="email_of_point_admin" [ngClass]="{'is-invalid': submitted && f.email_of_point_admin.errors || f.email_of_point_admin.touched || f.email_of_point_admin.dirty}" />
                                    <div *ngIf="submitted && f.email_of_point_admin.errors " class="invalid-feedback">
                                        <div *ngIf="f.email_of_point_admin.errors.required">This field is required</div>
                                        <div *ngIf="f.email_of_point_admin.errors.email">Please enter valid email</div>
                                        <!-- <div *ngIf="f.email_of_point_admin.email">Email must be a valid email address</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="labels">Email of Provider Business *</label>
                                <input type="text" style="background-color: lightgray;" formControlName="provider_business_email" [ngClass]="{'is-invalid': submitted && f.provider_business_email.errors || f.provider_business_email.touched || f.provider_business_email.dirty}" />
                                <div *ngIf="submitted && f.provider_business_email.errors" class="invalid-feedback">
                                    <div *ngIf="f.provider_business_email.errors.required">This field is required</div>
                                    <div *ngIf="f.provider_business_email.errors.email">Business Email is required</div>
                                    <!-- <div *ngIf="f.provider_business_email.email">Email must be a valid email address</div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Url" class="labels">Provider Website *</label>
                                <input type="text" formControlName="providerurl" [ngClass]="{'is-invalid': submitted && f.providerurl.errors || f.providerurl.touched || f.providerurl.dirty}">
                                <div *ngIf="submitted && f.providerurl.errors" class="invalid-feedback">
                                    <div *ngIf="f.providerurl.errors">This field is required</div>
                                </div>
                            </div>
                            <label for="name" class="labels">Main Office Address *</label>
                            <div class="form-group">
                                <input type="text" id="inputAddress" formControlName="street_address" [ngClass]="{'is-invalid': submitted && f.street_address.errors || f.street_address.touched || f.street_address.dirty}">
                                <div *ngIf="submitted && f.street_address.errors " class="invalid-feedback">
                                    <div *ngIf="f.street_address.errors">This field is required</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Country">Country *</label>
                                    <select formControlName="country" class="form-control">
							<option value="usa" selected>USA</option>
						</select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="State">State *</label>
                                    <select formControlName="state" class="form-control" [ngClass]="{'is-invalid': submitted && f.state.errors || f.state.touched || f.state.dirty}">
                                        <option value="">Select State</option>
                                        <option *ngFor="let State_name of States; let i = index" [value]="State_name.id">{{State_name.value}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City *</label>
                                    <input type="text" id="inputCity" formControlName="city" [ngClass]="{'is-invalid': submitted && f.city.errors || f.city.touched || f.city.dirty}">
                                    <div *ngIf="submitted && f.city.errors " class="invalid-feedback">
                                        <div *ngIf="f.city.errors.required">This field is required</div>
                                        <div *ngIf="f.city.errors.minlength">Minimum length 3</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputZip">Zipcode *</label>
                                    <input type="text" id="inputZip" formControlName="zipcode" [ngClass]="{'is-invalid': submitted && f.zipcode.errors || f.zipcode.touched || f.zipcode.dirty}">
                                    <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                                        <div *ngIf="f.zipcode.errors.required">This field is required</div>
                                        <div *ngIf="f.zipcode.errors.minlength">Minimum length 3</div>
                                        <!-- <div *ngIf="f.zipcode.errors.maxlength">Minimum length 8</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group submit text-center">
                                <input type="submit" class="btn" value="Update" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="Manage_profile" *ngIf="!profileShow">
                    <div id="other_info">
                        <div>
                            <div class="profile_pic" *ngIf="!showloader">
                                <img src="{{profileimg}}" class="pr">
                            </div>
                        </div>
                        <div *ngIf="showloader" class="loaderDiv"><img src="assets/img/loader.gif" alt=""></div>
                        <!--  -->
                        <form class="profileUploadFrm pro-fi-up" enctype="multipart/form-data">
                            <div class="uplodaing">
                                <div class="fileinput">
                                    <input type="file" name="image" (change)="selectImage($event)" accept=".png, .jpg, .jpeg" />
                                    <p>Upload File in JPG or PNG fromat with any size</p>
                                </div>
                                <div class="btn-up-pic">
                                    <button type="submit" [disabled]="showloader || !images" class="btn btn-primary" (click)="onSubmit()">Upload</button>
                                </div>
                            </div>
                        </form>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>