<app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div class="row">

            <div class="user-form dashh">
                <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>

                <div class="tabs_upper">
                    <ul>
                        <li [ngClass]="{'active': selectedItem == 1}">
                            <button (click)="showDiv(true,1)">Profile Details</button>
                        </li>
                        <li [ngClass]="{'active': selectedItem == 2}">
                            <button (click)="showDiv(false,2)">Business Logo</button>
                        </li>
                    </ul>
                </div>
                <div class="Manage_profile" *ngIf="profileShow">
                    <p class="message alert" [ngClass]="successClass">{{message}}</p>
                    <form [formGroup]="editProfileForm" class="container mt-3" (ngSubmit)="Save_Edited_Profile(editProfileForm)">
                        <div id="profile_info" *ngIf="CurrentUser">
                            <h3>{{ CurrentUser.first_name }} {{ CurrentUser.last_name }}</h3>
                            <div class="form-group">
                                <label for="name" class="labels">Specialty *</label>
                                <input type="text" style="background-color: lightgrey;" readonly formControlName="module_name" disabled />
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="name" class="labels">First Name *</label>
                                    <input type="text" formControlName="first_name" [ngClass]="{'is-invalid': submitted && f.first_name.errors || f.first_name.touched || f.first_name.dirty}">
                                    <div *ngIf="submitted && f.first_name.errors || f.first_name.dirty" class="invalid-feedback">
                                        <div *ngIf="f.first_name.errors">This field is required</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="name" class="labels">Last Name * </label>
                                    <input type="text" formControlName="last_name" [ngClass]="{'is-invalid': submitted && f.last_name.errors || f.last_name.touched || f.last_name.dirty}">
                                    <div *ngIf="submitted && f.last_name.errors || f.last_name.dirty" class="invalid-feedback">
                                        <div *ngIf="f.last_name.errors">This field is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col">
                                    <label for="name" class="labels">Name of Physician / Dentist *</label>
                                    <input type="text" formControlName="name_of_point" [ngClass]="{'is-invalid': submitted && f.name_of_point.errors || f.name_of_point.touched || f.name_of_point.dirty}" />
                                    <div *ngIf="submitted && f.name_of_point.errors || f.name_of_point.dirty" class="invalid-feedback">
                                        <div *ngIf="f.name_of_point.errors">This field is required</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="email" class="labels">Email of Physician / Dentist *</label>
                                    <input type="text" formControlName="email_of_point" [ngClass]="{'is-invalid': submitted && f.email_of_point.errors || f.email_of_point.touched || f.email_of_point.dirty}" />
                                    <div *ngIf="submitted && f.email_of_point.errors || f.email_of_point.dirty" class="invalid-feedback">
                                        <div *ngIf="f.email_of_point.errors">This field is required</div>
                                        <!--<div *ngIf="f.email_of_point.email">Email must be a valid email address</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="name" class="labels">Name of Administrator *</label>
                                    <input type="text" formControlName="name_of_point_admin" />
                                    <div *ngIf="submitted && f.name_of_point_admin.errors || f.name_of_point_admin.dirty" class="invalid-feedback">
                                        <div *ngIf="f.name_of_point_admin.errors">This field is required</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="email" class="labels">Email of Administrator *</label>
                                    <input type="text" formControlName="email_of_point_admin" style="background-color: lightgrey;" [ngClass]="{'is-invalid': submitted && f.email_of_point_admin.errors || f.email_of_point_admin.touched || f.email_of_point_admin.dirty}" disabled />
                                    <div *ngIf="submitted && f.email_of_point_admin.errors || f.email_of_point_admin.dirty" class="invalid-feedback">
                                        <div *ngIf="f.email_of_point_admin.errors">This field is required</div>
                                        <!-- <div *ngIf="f.email_of_point_admin.email">Email must be a valid email address</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col">
                                    <label for="email" class="labels">Email of Provider business</label>
                                    <input type="text" style="background-color: lightgrey;" formControlName="provider_business_email" [ngClass]="{'is-invalid': submitted && f.provider_business_email.errors || f.provider_business_email.touched || f.provider_business_email.dirty}" disabled/>
                                    <div *ngIf="submitted && f.provider_business_email.errors || f.provider_business_email.dirty" class="invalid-feedback">
                                        <div *ngIf="f.provider_business_email.errors">This field is required</div>
                                        <!-- <div *ngIf="f.provider_business_email.email">Email must be a valid email address</div>-->
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="number" class="labels">Main Phone *</label>
                                    <input type="text" style="background-color: lightgrey;" formControlName="mobile" [ngClass]="{'is-invalid': submitted && f.mobile.errors || f.mobile.touched || f.mobile.dirty}" disabled />
                                    <div *ngIf="submitted && f.mobile.errors || f.mobile.dirty" class="invalid-feedback">
                                        <div *ngIf="f.mobile.errors">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Url" class="labels">Provider Website *</label>
                                <input type="text" formControlName="providerurl" [ngClass]="{'is-invalid': submitted && f.providerurl.errors || f.providerurl.touched || f.providerurl.dirty}">
                                <div *ngIf="submitted && f.providerurl.errors || f.providerurl.dirty" class="invalid-feedback">
                                    <div *ngIf="f.providerurl.errors">This field is required</div>
                                </div>
                            </div>
                            <label for="name" class="labels">Main Office Address *</label>
                            <div class="form-group">
                                <input type="text" id="inputAddress" formControlName="street_address" [ngClass]="{'is-invalid': submitted && f.street_address.errors || f.street_address.touched || f.street_address.dirty}">
                                <div *ngIf="submitted && f.street_address.errors || f.street_address.dirty" class="invalid-feedback">
                                    <div *ngIf="f.street_address.errors">This field is required</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="Country">Country *</label>
                                    <select formControlName="country" class="form-control">
                            <option value="usa" selected>USA</option>
                        </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="State">State *</label>
                                    <select formControlName="state" class="form-control">
                                        <option value="" disabled> Select State</option>
                                        <option *ngFor="let State_name of States; let i = index" [value]="State_name.id">{{ State_name.value }}</option>
                                  </select>
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <div *ngIf="f.state.errors">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCity">City *</label>
                                    <input type="text" id="inputCity" formControlName="city" [ngClass]="{'is-invalid': submitted && f.city.errors || f.city.touched || f.city.dirty}">
                                    <div *ngIf="submitted && f.city.errors || f.city.dirty" class="invalid-feedback">
                                        <div *ngIf="f.city.errors">This field is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputZip">Zipcode *</label>
                                    <input type="text" id="inputZip" formControlName="zipcode" [ngClass]="{'is-invalid': submitted && f.zipcode.errors || f.zipcode.touched || f.zipcode.dirty}">
                                    <div *ngIf="submitted && f.zipcode.errors || f.zipcode.dirty" class="invalid-feedback">
                                        <div *ngIf="f.zipcode.errors">This field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group submit text-center">
                                <input [disabled]="editProfileForm.invalid" type="submit" class="btn" value="Update" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="Manage_profile" *ngIf="!profileShow">
                    <div id="other_info">
                        <div class="profile_pic" *ngIf="!showloader">
                            <img src="{{profileimg}}" alt="Profile Pic" class="pr">
                        </div>
                        <div *ngIf="showloader" class="loaderDiv"><img src="assets/img/loader.gif" alt=""></div>
                        <!--  -->
                        <form class="profileUploadFrm pro-fi-up" enctype="multipart/form-data">
                            <div class="uplodaing">
                                <div class="fileinput">
                                    <input type="file" name="image" (change)="selectImage($event)" />
                                    <p>Upload File in JPG or PNG fromat with any size</p>
                                </div>
                                <div class="btn-up-pic">
                                    <button type="submit" [disabled]="showloader || !images" class="btn btn-primary" (click)="onSubmit()">Upload</button>
                                </div>
                            </div>
                        </form>
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>