<app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div class="row">
            <div *ngIf="showloader" class="loaderDiv"><img src="assets/img/loader.gif" alt=""></div>
            <div *ngIf="userdata" class="user-form user-form-edit-js">
                <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                <div class="form-group custom_width">
                    <div class="edit-userdiscription custom_undifind" name="userdata">
                        <div>
                            <span *ngIf="first_name"><span class="user-c-t">First Name: </span><span class="user-c-t-n">{{ first_name | titlecase}}</span></span><br>
                            <span *ngIf="last_name"><span class="user-c-t">Last Name: </span><span class="user-c-t-n">{{ last_name | titlecase}}</span></span><br>
                            <span *ngIf="client_gender"><span class="user-c-t">Gender: </span><span class="user-c-t-n">{{ client_gender }}
							</span></span><br>
                            <span *ngIf="userEmail"><span class="user-c-t">Email: </span> <span class="user-c-t-n">{{ userEmail }}</span>
                            </span><br>
                            <span *ngIf="user_phone"><span class="user-c-t">Phone Number:</span><span class="user-c-t-n">{{ user_phone }}
							</span></span><br>
                        </div>
                        <h4 class="list_span">List of All Queried Procedures</h4>
                        <div class="table-responsive">
                            <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                                <thead style="background: #30c7c2;">
                                    <tr>
                                        <th></th>
                                        <th>Category Name</th>
                                        <th>Procedure Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let catVal of catList; let ik = index">
                                        <td>{{ik+1}}</td>
                                        <td>{{catList[ik]}}</td>
                                        <td>
                                            <div *ngFor="let form of userForm; let i = index" class="edit-userdiscription-cu">
                                                <div *ngIf="catList[ik]==userForm[i].category_name">
                                                    {{userForm[i].procedure_name}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>