/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #30c7c2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.user-form{
	text-align: center;
}
.user-form {
    max-width: 85%;
    padding: 2vw 1vw;
    background: #fff;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
    position: relative;
    max-height: 90vh;
    margin: 11vh auto;
}

.user-form input {
    background: #ffffff;
    font-size: 12px;
    height: 40px;
    border-radius: 1px;
    width: 90%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    outline: none;
}

.user-form .form-group{
	width: 50%;
	float: left;
}

.user-form button{
    margin: 20px auto;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.65;
    border: none;
    color: #FFF;
    background: #007bff;
    padding: 14px 90px;
    border-radius: 2px;
}

.error {
    font-size: 14px;
    text-align: left;
    padding: 3px 0 0 40px;
    font-weight: 400;
}


.user-form h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.form-control:focus{
    box-shadow: none;
}