<app-header></app-header>
<div class="dash boxed-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 btn-cli-ml">
                <h2 class="htitle">Procedure list</h2>
                <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                <button (click)="addProcedure()" type="button" class="view_edit"><i aria-hidden="true" class="fa fa-plus"></i> Add</button>
                <button *ngIf="showPop" (click)="discountForm(disocuntForm)" type="button" class="view_edit discount"><i aria-hidden="true" class="fa fa-plus"></i> Add Discount</button>
            </div>
            <div class="col-md-12">
                <div class="user_list">
                    <div class="table_outer">
                        <div class="col-md-6 datepicker_custom">
                            <input type="text" placeholder="Search By Procedure Name" [(ngModel)]="filterProcedure" (keyup)="selectSearchType('procedure')">
                        </div>
                        <div class="table-responsive">
                            
                            <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                                <thead style="background: #30c7c2;">
                                    <tr>
                                        <th style="width: 200px;">Procedure Number</th>
                                        <th style="width: 250px;">Module Name</th>
                                        <th style="width: 250px;">Category Name</th>
                                        <th style="width: 300px;">Procedure Name</th>
                                        <!-- <th style="width: 200px;">Price</th> -->
                                        <th style="width: 300px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let procedure_data of procedure_array | paginate: { itemsPerPage: range, currentPage: activePage };let i=index;">
                                        <td style="width: 200px; text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                                        <td style="width: 250px;">{{procedure_data.module_name}}</td>
                                        <td style="width: 250px;">{{procedure_data.category_name }}</td>
                                        <td style="width: 300px;">{{procedure_data.procedure_name}}</td>
                                        <!-- <td style="width: 200px;" [innerHtml]="rate_show(procedure_data.prod_cost)"></td> -->
                                        <td style="width: 300px;padding: 20px 30px 10px; cursor: pointer;">
                                            <!--a routerLink="/editprocedure/{{procedure_data.id}}" class="view">View</a-->
                                            <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a routerLink="/view/{{procedure_data.prodId}}" class="edit"><i class="fa fa-edit"></i></a></button>
                                            <!-- <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a routerLink="/viewprocedure/{{procedure_data.prodId}}" class="edit"><i class="fa fa-eye"></i></a></button> -->
                                            <button class="tool_tip" data-placement="left" data-toggle="tooltip" title="Delete"><a (click)="deleteProcedure(procedure_data.prodId)" class="edit"><i class="fa fa-trash"></i></a></button></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="totalCount<1" ><p class="alert alert-danger">No result found</p></div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete user popup start-->

<ng-template #disocuntForm>
    <div class="modal-header top-btn-md">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body custom_modal">
        <h3>Optional Discount (%) to Apply for Multiple Procedures:</h3>
        <form [formGroup]="updateDiscount" class="container mt-3" (ngSubmit)="submitDiscount(updateDiscount.value)">

            <input class="form-group" formControlName="discount" min="0" max="100" type="number">

            <input type="submit" class="yes_btn" value="Update Discount">
            <span *ngIf="reply" class="msgshow">{{reply}}</span>
            <div style="color: red;float: right;" *ngIf="isSubmit && updateDiscount.controls.discount.errors && updateDiscount.controls.discount.errors.required">This field is required</div>
            <div style="color: red;float: right;" *ngIf="isSubmit  && updateDiscount.controls.discount.errors && updateDiscount.controls.discount.errors.pattern">Discount cannot be negative</div>
        </form>

    </div>
</ng-template>
<!-- Delete user popup end-->