/* width */

::-webkit-scrollbar {
    width: 5px;
}

.datepicker_custom input{
    background: #ffffff;
    font-size: 15px;
    height: 48px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
    margin: 0px 0 0px;
}
/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #30c7c2;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}


h2.htitle{
    padding: 15px 0 0;
    font-size: 20px;
    width: 100%;
    display: inline-block;
}

.user_list th {
    padding: 16px 15px 16px;
    color: #000;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid #FFF;
    width: 14.28%!important;
    text-align: center;
    white-space: nowrap;
}

.user_list td {
    text-align: inherit;
    padding: 5px 30px 5px;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    width: 14.28%!important;
    white-space: nowrap;
}

.user_list td:last-child {
    padding: 10px 18px 10px!important;
}

.view {
    background: #faaf3b;
    color: #FFF;
    font-size: 13px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px 5px 10px 0;
    text-decoration: none;
}


/*.edit {
    background: #30c7c2;
    color: #FFF;
    font-size: 13px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px 5px 10px 0;
    text-decoration: none;
}
*/

.edit i {
    color: #30c7c2;
    font-size: 16px;
    padding: 0 10px 0 0;
}


/*.delete {
    background: #f03e68;
    color: #FFF;
    font-size: 13px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}*/

.delete i {
    color: #f03e68;
    font-size: 16px;
    padding: 0 0px 0 0;
}

.align {
    margin: 40px 0 0;
    text-align: center;
}

.align .page-link {
    background-color: #30c7c2!important;
    border-color: #30c7c2!important;
}

.align span {
    display: inline-block;
}

.view_edit {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 12px 36px;
    border: none;
    background: #f9991f;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 16px;
    opacity: 0.85;
    float: right;
    outline: none;
}

.table_outer {
    width: 100%;
}

.btn-cli-ml .view_edit {
    margin-left: 5px;
}

span.msgshow {
    display: block;
    background: green;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.modal-header.top-btn-md {
    border: none;
    padding: 0;
}

.modal-header.top-btn-md button {
    position: absolute;
    right: 0;
    top: 0;
    background: #30c7c2;
    opacity: 1 !important;
    text-shadow: none;
    color: #fff;
    padding: 0;
    line-height: 18px;
    padding: 10px;
    padding-top: 6px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    z-index: 9;
}

.modal-header.top-btn-md button:focus {
    outline: none;
    box-shadow: none;
}

.custom_modal h3 {
    text-align: center;
    margin: 35px 0;
    font-size: 18px;
    /* margin-top: 0; */
}

.custom_modal form {
    padding-bottom: 35px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.custom_modal input.form-group {
    width: 100px;
    /* height: 0; */
    padding: 10px 13px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 8px 25px;
    border-radius: 30px;
}

.custom_modal input.yes_btn {
    background: #f9991f;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
}

button.back_btn {
    background: transparent;
    border: 0;
    font-size: 18px;
    margin: 18px 0 0;
    color: #000000;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
}

.table-responsive {
  /*  overflow-x: inherit;*/
    max-height: 520px;
    overflow-y: auto;
    width: 100%;
}

.user_list{

}


/*style for Responsive*/

@media(min-width:320px) and (max-width: 767px) {
.boxed-container {width: 100%; top: 80px; padding: 15px 0px; }
.boxed-container .container {width: 100%; max-width: 100%; }
.user_list th {width: 14.28% !important; padding: 16px 10px 16px; font-size: 12px; }
.user_list td {width: 14.28% !important; font-size: 12px; }
.view {font-size: 11px; padding: 6px 22px; }
.edit {font-size: 11px; }
.delete {font-size: 11px; padding: 6px 18px; }
.table_outer {width: 100%; overflow-y: scroll; }
.view_edit {padding: 12px 20px; font-size: 13px; }
button.back_btn {margin: 6px 0 0; }
.custom_modal h3 {margin: 25px 0; font-size: 16px; line-height: 24px; }
.custom_modal input.form-group {margin-right: 8px; }
.custom_modal input.yes_btn {padding: 10px 22px; font-size: 14px; }
.table-responsive{position: relative; z-index: 9;}

}

@media(min-width:768px) and (max-width: 991px) {
.boxed-container {width: 100%; float: right; min-height: calc(100vh - 80px); top: 100px; padding: 0px; }
.boxed-container .container {max-width: 100%; }
.user_list td {width: 14.28%!important; }
.user_list td:last-child {padding: 0px 15px !important; text-align: center !important; }
.user_list td:last-child a {margin: 5px 0 0 !important; }
.user_list th {text-align: center; padding: 16px 7px 16px; font-size: 13px; width: 14.28%!important; }
.user-form {margin: 2vh auto; } 
.delete {padding: 6px 17px; }
.table_outer {width: 100%; }
.table-responsive {overflow-x: scroll!important; position: relative; z-index: 9;}
 }


@media(min-width:992px) and (max-width: 1199px) {
.boxed-container {width: 100%; float: right; min-height: calc(100vh - 80px); top: 100px; padding: 0px; } 
.boxed-container .container {max-width: 100%; } 
.user_list td:last-child {padding: 0px 15px !important; text-align: center !important; }
.user_list td:last-child a {margin: 5px 0 0 !important; }
.user_list th {text-align: center; padding: 16px 7px 16px; font-size: 13px; }
.sidebar-wrapper {left: 0px; }
.user-form {margin: 2vh auto; }
.delete {padding: 6px 17px; }
.table-responsive {overflow-x: scroll!important; position: relative; z-index: 9;}

}

@media(min-width:1200px) and (max-width: 1366px) {
.user_list td {padding: 3px 12px 3px!important; font-size: 12px!important; }
.user_list th {padding: 16px 19px 16px!important; font-size: 12px!important; }
.view {font-size: 12px!important; padding: 3px 15px!important; margin: 5px 2px 2px 0!important; }
.edit {font-size: 12px!important; padding: 3px 23px!important; margin: 5px 3px 10px 0!important }
.delete {font-size: 12px!important; padding: 3px 15px!important; margin: 5px 0px 10px 0!important }
.table_outer{overflow:auto!important;}
.table-responsive{overflow:auto!important;}
}

@media(min-width:1367px) and (max-width: 1800px){
.table_outer{overflow:auto!important;}
.table-responsive{overflow:auto!important;}
}