<div class="login-page">
    <div class="container">
        <div class="row">
            <!--<div class="col-md-6 imgg"><img src="assets/img/login.png"></div>-->
            <div class="col-md-12 signin">
                <div class="site-logo"><img src="assets/img/eprice_black.png" alt="" />
                    <h4>Members Login</h4>
                </div>

                <p class="message alert" [ngClass]="successClass">{{message}}</p>
                <form focusInvalidInput [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <span class="user-email">
				  	<input autocomplete="off" type="text" formControlName="username" class="form-control" id="usernames" placeholder="Email *"> 
				  </span>
                            <div class="error" style="float: right; color: red;" *ngIf="isSubmit && loginForm.controls.username.errors && loginForm.controls.username.errors.required">This field is required</div>
                            <div class="error" style="float: right; color: red;" *ngIf="isSubmit && loginForm.controls.username.errors && loginForm.controls.username.errors.email && loginForm.controls.username.errors.pattern">Please enter valid email</div>
                        </div>
                        <div class="form-group col-md-12">
                            <span class="user-pass">
					 <input autocomplete="off" [type]="show_button ? 'text' : 'password'" formControlName="password" class="form-control" id="passwords" placeholder="Password *"> 
					 <i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"> </i>
				  </span>
                            <div class="error" style="float: right; color: red;" *ngIf="isSubmit && loginForm.controls.password.errors && loginForm.controls.password.errors.required">This field is required</div>
                        </div>
                    </div>
                    <button type="submit" class="col-md-12 btn btn-primary">Login</button>
                </form>
                <div class="fpass">
                    <button (click)="forgot()" class="btn btn-default">Forget Password?</button>
                    <button (click)="register()" class="btn btn-default">Create an Account</button>
                </div>

                <!--<div class="signup">
		  	<a class="siwg" href="#"><img src="assets/img/google.png"></a>
		  	<p><a class="caa" href="#">Create an Account.</a></p>
		  </div>-->
            </div>
        </div>
    </div>
</div>