.login-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(120deg, #7acafb 0%, #bbe2f9 40%, #fddadf 90%);*/
    background: #33adad;
}

#passwords {
    padding-top: 5px;
    font-size:inherit!important;
}

.container {
    max-width: 530px;
    padding: 5vw 3vw;
    background: #fff;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
}

.col-md-6 {
    align-self: center;
}

.col-md-6.imgg img {
    width: 100%;
    padding: 20px 0;
}

.signin h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.form-control {
    background: #ffffff;
    font-size: 15px;
    height: 48px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width:100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
}

.form-control:focus {
    border-bottom: 1px solid #000;
}

form input.form-control:focus, .fpass button:focus {
    box-shadow: none;
}

form {
    text-align: center;
}

.fpass .btn:last-child {
    float: right;
}

button.btn.btn-default {
    float: left;
}

form button.col-md-12.btn.btn-primary {
    max-width: 100%;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 14px;
    z-index: 6;
    position: relative;
    border: none;
    width:100%;
    border-radius: 30px;
    font-size: 15px;
    background:#faa742;
}

.fpass {
    margin: 0 auto;
    display: block;
    width: 100%;
    position: relative;
}

.fpass button {
    font-size: 12px;
    color: #888;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0px;
    z-index: 6;
    position: relative;
    border: none;
}

.fpass button.btn:hover {
    color: #000;
}

.fpass button::focus {
    box-shadow: none;
    border: none;
}

.signup img {
    max-width: 200px;
    box-shadow: 0px 0px 10px -1px #00000054;
    border-radius: 30px;
    transition: all ease 0.5s;
}

.signup a.siwg:hover img {
    box-shadow: 0px 0px 11px 3px #0005;
    transition: all ease 0.5s;
}

.signup {
    text-align: center;
}

.site-logo {
    text-align: center;
}

a.caa {
    font-size: 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
}

a.siwg {
    display: inline-block;
    margin: 12px 0 5px;
}

.user-pass i {
    position: absolute;
    right: 28px;
    top: 16px;
    cursor: pointer;
}


form .btn.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

img{max-width:100%;
vertical-align: middle;}

.signin .site-logo h4 {
    margin-top: 30px;
    font-size: 30px !important;
    margin-bottom: 0 !important;
    color: #30c7c2;
}


.error {
    font-size: 12px;
    color: #f00!important;
}


/*.login-page i.fa.fa-eye-slash {
    display: none;
}
*/
/********************Media Query*********************/

@media (max-width: 600px) {

.container {
    border-radius: 20px;
}

.signin h4 {
    margin: 20px 0;
}

.col-md-6.imgg {
    text-align: center;
}

.col-md-6.imgg img {
    padding: 0;
    max-width: 240px;
}



}


/*@media only screen and (min-device-width : 667px) and (max-device-width : 375px) and (orientation : portrait) {
.login-page {padding: 30px 0; }
}*/

@media(max-width:767px){
    .login-page {padding: 30px 0; }
    .site-logo img{max-width:60%;}
}

@media(min-width:375px) and (max-width:812px){
    .login-page {padding: 30px 0; }
}