<app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div *ngIf="showloader" class="loaderDiv"><img src="assets/img/loader.gif" alt=""></div>
        <div class="user_leads">
            <h2 class="htitle">Users/Manage Leads</h2>
            <div class="new_lds row ">
                <div class="col-md-6 float-left">
                    <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                </div>
                <div class="col-md-6 float-right csv text-right">
                    <label class="label_download">Download CSV</label>
                    <select class="downlodcsv" [disabled]="showexcel" (change)="getExcel($event.target.value)">
						<option value="">Choose Download Format</option>
						<option value="mailchimp">Mailchimp</option>
						<option value="constantcontact">Constant Contact</option>
					</select>
                    <div *ngIf="download_showloader" class="download_showloader"><img src="assets/img/loader.gif" alt=""></div>
                </div>
                <!-- <div class="downlod_option"><button [disabled]="showexcel" value="user" (click)="getExcel($event.target.value)"><i class="fa fa-download" aria-hidden="true"></i>Download CSV</button></div> -->
            </div>
            <div class="row Datefilter">
                <div class="col-md-6 datepicker_custom">
                    <label><strong>Choose a Start Date</strong></label><br>
                    <my-date-picker name="StartDate" [selDate]="StartDate" [options]="myDatePickerOptions" required (dateChanged)="StartDateChanged($event)"></my-date-picker>
                </div>
                <div class="col-md-6 datepicker_custom">
                    <label><strong>Choose a End Date</strong></label>
                    <my-date-picker name="EndDate" [selDate]="EndDate" [options]="myDatePickerOptions" required (dateChanged)="EndDateChanged($event)"></my-date-picker>
                </div>
                <div class="col-md-6 datepicker_custom">
                    <input type="text" placeholder="Search" [(ngModel)]="filterValue" (keyup)="selectSearchType()">
                </div>
                <div class="col-md-6 datepicker_custom">
                    <select [(ngModel)]="filterType" (change)="selectSearchType()">
						<option *ngFor="let data of selectType" [value]="data.value">{{data.name}}</option>
					</select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- div class="user_list mycust_class table-responsive" *ngIf="userData.length > 0 && !showloader">
						<table class="table row-border hover" cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
							<thead style="background: #30c7c2;">
								<tr>
									<th style="width: auto">User Number</th>
									<th *ngIf="role.userType==='superadmin'" style="width: auto;">Vendor Name</th>
									<th style="width: auto;">Create Date</th>
									<th style="width: auto;">First Name</th>
									<th style="width: auto">Last Name</th>
									<th style="width: auto">Email</th>
									<th>Procedure of Interest</th>
									<th style="width: auto">Phone</th>
									<th style="width: auto;">Action</th>
								</tr>
							</thead>
							<tbody>

								<tr *ngFor="let user of userData;let i=index">
									<td style="width: auto; text-align:center">{{((i+1)+(activePage-1)*range)}}</td>
									<td *ngIf="role.userType==='superadmin'" style="width: auto;">{{user.webuser_first_name | titlecase }} {{user.webuser_last_name | titlecase }}</td>
									<td style="width: auto;">{{get_Date(user.created_at)}}</td>
									<td style="width: auto;">{{user.first_name | titlecase }}</td>
									<td style="width: auto">{{user.last_name | titlecase }}</td>
									<td style="width: auto;">{{user.user_email}}</td>
									<td>{{getProcedure(user.procedure_name)}}</td>
									<td style="width: auto">{{user.user_phone}}</td>
									<td style="width: auto; cursor: pointer;">
										<a routerLink="/edituser/{{user.id}}" class="edit"><i class="fa fa-eye"></i></a>
										<button (click)="deleteUserbyId(user.id)" class="delete"><i class="fa fa-trash"></i></button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row">
							<div class="col-xs-12 col-md-12 align" *ngIf="totalCount > range">
								<app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination>
							</div>
						</div>
					</div>
					<div *ngIf="userData.length === 0 && !showloader && search === ''">
						<p class="alert alert-danger">The requested date range has no lead</p>
					</div>
					<div *ngIf="userData.length === 0 && !showloader && search !== ''">
						<p class="alert alert-danger">No result found</p>
					</div>
				</div-->
                    <div class="user_list mycust_class table-responsive" *ngIf="totalCount > 0 && !showloader">
                        <table class="table row-border hover" cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                            <thead style="background: #30c7c2;">
                                <tr>
                                    <th>User Number</th>
                                    <th *ngIf="role.userType==='superadmin'" style="width: auto;">Vendor Name</th>
                                    <th style="width: auto;">Create Date</th>
                                    <th style="width: auto;">First Name</th>
                                    <th style="width: auto;">Last Name</th>
                                    <th style="width: auto;">Email</th>
                                    <th style="width: auto;">Procedure of Interest</th>
                                    <th style="width: auto;">Phone</th>
                                    <th style="width: auto;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let useras of totalData | paginate: { itemsPerPage: range, currentPage: activePage }; let i=index">
                                    <td style="width: auto; text-align:center">{{((i+1)+(activePage-1)*range)}}</td>
                                    <td *ngIf="role.userType==='superadmin'" style="width: auto;">{{useras.webuser_first_name | titlecase }} {{useras.webuser_last_name | titlecase }}</td>
                                    <td style="width: auto;">{{date_change(useras.created_at)}}</td>
                                    <td style="width: auto;">{{useras.first_name | titlecase }}</td>
                                    <td style="width: auto">{{useras.last_name | titlecase }}</td>
                                    <td style="width: auto;">{{useras.user_email}}</td>
                                    <td>{{getProcedure(useras.procedure_name)}}</td>
                                    <td style="width: auto">{{useras.user_phone}}</td>
                                    <td style="width: auto; cursor: pointer;">
                                        <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a routerLink="/edituser/{{useras.id}}" class="edit"><i class="fa fa-eye"></i></a></button>
                                        <button (click)="deleteUserbyId(useras.id)" class="delete" data-toggle="tooltip" data-placement="right" title="Delete"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                    <div *ngIf="totalCount == 0 && !showloader && filterValue == ''">
                        <p class="alert alert-danger">The requested date range has no lead</p>
                    </div>
                    <div *ngIf="totalCount == 0 && !showloader && filterValue !== ''">
                        <p class="alert alert-danger">No result found</p>
                    </div>

                </div>
            </div>
            <!-- if have data  -->
        </div>
    </div>
    <!-- Edit user popup start-->
    <ng-template #editUsertemplate>
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
        </div>
        <div class="modal-body custom_modal">
            <h3>Are you sure want to delete this user</h3>
            <button type="button" (click)="modalRef.hide()" class="no_btn">No</button>
            <button type="button" class="yes_btn">Yes</button>
        </div>
    </ng-template>
    <!-- Edit user popup end-->
    <!-- View user popup start-->
    <ng-template #viewUsertemplate>
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
        </div>
        <div class="modal-body custom_modal">
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="user_name" [(ngModel)]="registerForm.user_name" disabled placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="text" name="user_email" [(ngModel)]="registerForm.user_email" disabled placeholder="Email address" class="form-control">
                </div>
                <div class="form-group">
                    <label for="contactNumber">Contact Number:</label>
                    <input type="text" name="user_phone" [(ngModel)]="registerForm.user_phone" disabled placeholder="Contact Number" class="form-control">
                </div>
                <button (click)="modalRef.hide()" class="no_btn">cancel</button>
                <!-- <button type="submit" class="yes_btn">Yes</button> -->
            </form>
        </div>
    </ng-template>
    <!-- View user popup end-->
    <!-- Delete user popup start-->
    <ng-template #deleteUserTemplate>
        <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
        </div>
        <div class="modal-body custom_modal">
            <h3>Are you sure want to delete this user</h3>
            <button type="button" (click)="modalRef.hide()" class="no_btn">No</button>
            <button type="button" (click)="deleteUserfromlist()" class="yes_btn">Yes</button>
        </div>
    </ng-template>
    <!-- Delete user popup end-->