/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #30c7c2; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

h2.htitle{
    padding: 15px 0;
    font-size: 20px;
    display: inline-block;
}

.user_list th {
    text-align: inherit;
    padding: 16px 30px 16px;
    color: #000;
    font-size: 12px!important;
    letter-spacing: 0.4px;
    font-weight: 600;
    text-transform: uppercase;
    border-right: 1px solid #FFF;
    width: 17%!important;
    white-space: nowrap;
}


.user_list td {
    text-align: inherit;
    padding: 15px 5px 15px!important;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    width: 17%!important;
    word-break: break-all;
    white-space: nowrap!important;
}

.user_list.mycust_class tr td:first-child {
    text-align: center;
}

.user_leads .download_showloader img {
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid #faa742;
    border-radius: 0px 30px 30px 0px;
    border-left: 0;
}
.view {
    background: #faaf3b;
    color: #FFF;
    font-size: 13px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px 5px 10px 0;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit  i{
    color: #30c7c2;
    font-size: 16px;
    padding: 0 10px 0 0;
}


.user_list a:hover{
   background:transparent!important;
}

.edit {
/*    background: #30c7c2;
    color: #FFF;
    font-size: 13px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    margin: 5px 5px 10px 0;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}


/*.delete {
    background: #f03e68;
    color: #FFF;
    font-size: 13px;
    padding: 6px 20px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    border:none;
}*/

.delete{
    border:0px;
    background:transparent;
}

.delete i{
    color:#f03e68;
    font-size: 16px;
    padding: 0 0px 0 0;
}


.align {
    margin: 40px 0 0;
    text-align: center;
}

.align .page-link {
    background-color: #30c7c2!important;
    border-color: #30c7c2!important;
}

.align span {
    display: inline-block;
}

.user_list a:hover{
    background:#faaf3b;
    color: #000;
    transition: all 0.3s;
}

.modal-header {
    border: 0;
    padding: 0;
}

.custom_modal h3 {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 0 0 30px;
    font-weight: 600;
    color: #333;
}

.no_btn{
    background: #f03e68;
    color: #FFF;
    font-size: 15px;
    padding: 7px 45px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #f03e68;
     margin: 0 30px 0 0;
}

.no_btn:focus{
    outline: none;
}

.no_btn:hover{
    background: #faaf3b;
    color: #000;
    border:1px solid #faaf3b;
}

.yes_btn{
    background:#30c7c2;
    color: #FFF;
    font-size: 15px;
    padding: 7px 45px;
    border-radius: 30px;
    display:inline-block;
    margin:5px 5px 10px 0;
    text-decoration: none;
    border: 1px solid #30c7c2;

}

.yes_btn:hover{
    background: #faaf3b;
    color: #000;
    border:1px solid #faaf3b;
}

.no_btn:hover{
    color: #000;
}

.modal-body.custom_modal {
    text-align: center;
}

.close {
    position: relative;
    top: 10px;
    right: 10px;
    outline: none;
}

.new_lds select {
    font-size: 16px;
    padding: 12px 36px;
    background-color: #faa742;
    color: #fff;
    border-color: #faa742;
    border-radius: 50px!important;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-appearance: none;
    background-image: url(https://api.superplasticsurgeons.com/uploads/assets/arrow.png) !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    -webkit-appearance: none;
    border:0px;
    text-align-last: center;
}

.new_lds select:focus{
    outline: none;
    box-shadow:none;
}

.downlod_option {
    float: right;
    margin: 0px 0 0;
}

.downlod_option button {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 16px 36px;
    border: none;
    background: #f9991f;
    color: #fff;
    border-radius: 50px;
    margin: 0px 0 0px;
    opacity: 0.65;
    outline: none;
}

.downlod_option button:hover{
    text-decoration:none;
}

.downlod_option i {
    position: relative;
    top: 2px;
    left: -9px;
}

.user_list {
    margin: 0px 0 0;
}

.new_lds {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
}
.Datefilter {
    margin: 10px 0px;
}

.loaderDiv{
   width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    background: rgba(255,255,255,0.8);
    padding: 10% 0 0 0;
}

.loaderDiv img{
    width: 100%;
    max-width: 300px;
}

button.back_btn {
    background: transparent;
    border: 0;
    font-size: 18px;
    margin: 10px 0 10px;
    color: #000000;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
}


button.back_btn:focus{
    outline: none;
}

label.label_download {
    padding: 0 20px 0 0;
    font-weight: 500;
    font-size: 15px;
}

.user_list.mycust_class tr th{padding: 16px 15px 16px;
width: auto !important;
white-space: nowrap;
font-size: 14px;}

.user_list.mycust_class tr td{padding: 10px 15px 10px;
 width: auto !important;
    word-break: inherit;
    white-space: nowrap;}


.table-responsive{
  /* overflow-x: inherit!important;*/
    max-height: 610px;
    overflow-y: auto;
}

.csv .download_showloader img {
    width: 100%;
    text-align: center;
    border: 0px!important;
    right: 0px!important;
}


.Datefilter input {
    background: #ffffff;
    font-size: 15px;
    height: 48px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
    margin: 0px 0 0px;
}

.Datefilter input{
    outline:none;
}

.Datefilter select {
    background: #ffffff;
    font-size: 15px;
    height: 48px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
    margin: 0px 0 0px;
    background-image: url(https://api.superplasticsurgeons.com/uploads/assets/dropdown_icon.png);
    background-position: right center;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;

}

.Datefilter select:focus{
    outline:none;
}

.new_lds select option {
    background: #FFF!important;
    color: #000;
}






@media(min-width:320px) and (max-width: 767px){
.boxed-container{width: 100%; top: 80px; padding: 15px 0px; }
.boxed-container .container{width: 100%; max-width: 100%; }
.user_list th{font-size: 12px; padding: 16px 10px 16px; width: auto!important; }
.user_list td{font-size: 12px; padding: 16px 10px 16px; vertical-align: middle;}
.view{font-size: 11px; padding: 6px 22px; }
.edit{font-size: 11px; }
.delete{font-size: 11px;}
.user_list {width: 100%; overflow: auto; }
.downlod_option button{font-size: 13px;padding: 12px 24px;}
button.back_btn{position: absolute; top: 37px; left: 14px;}
.downlod_option{margin: 14px 0 6px}
.new_lds select{ font-size: 14px;padding: 12px 34px; margin: 9px 0 0;}
label.label_download{padding:40px 20px 0 0;}
label strong {font-weight: 500; font-size: 14px; }
.csv .download_showloader img{right: 13px!important; top: 40px;} 
.text-right {text-align: center !important; }
button.back_btn{position: absolute; top: -10px; left: -6px;z-index: 9;}
.user_list{position: relative; z-index: 9; }
}


@media(min-width:768px) and (max-width: 991px){
.boxed-container{width: 100%; float: right; min-height: calc(100vh - 80px); top: 100px; padding: 0px; }
.boxed-container .container{max-width: 100%;}
.user_list td{word-break: inherit;}
.user_list th{text-align: left; padding:16px 7px 16px;font-size:13px; }
.user-form{margin: 2vh auto;}

.user_list {width: 100%; overflow: auto; }
.downlod_option button{font-size: 13px;padding: 12px 24px;}
button.back_btn{position: absolute; top: 25px; left: 14px;}
.downlod_option{margin: 14px 0 6px}
.table-responsive {overflow-x: scroll!important; position: relative; z-index: 9;}

}

@media(min-width:992px) and (max-width: 1199px){
.boxed-container{width: 100%; float: right; min-height: calc(100vh - 80px); top: 100px; padding: 0px; }
.boxed-container .container{max-width: 100%;}
.user_list td{word-break: inherit;}
.user_list th{text-align: left; padding:16px 7px 16px;font-size:13px; }
.sidebar-wrapper{left: 0px;}
.user-form{margin: 2vh auto;}
.user_list td{padding:15px 10px 15px!important;}
.table-responsive {overflow-x: scroll!important; position: relative; z-index: 9;}


}
