.dashh{
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    box-shadow: 0px 0px 17px 0px #00000026;
    background: #FFF;
    border: 1px solid #dcdcdc;
    padding: 30px 15px;
    border-radius: 10px;
}

.paswrd_change h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}


.paswrd_change label{
	font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 0 0 6px;
    width: 100%;
    display: inline-block;

}

.paswrd_change input{
    background: #ffffff;
    font-size: 15px;
    height: 46px;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border: 1px solid #e4e4e4;
    outline: none;
    padding: 0 10px;
    position: relative;
}

.paswrd_change i{
    position: absolute;
    right: 130px;
    margin: 14px 0 0;
    cursor: pointer;
}

.submit {
    text-align: center;
}

.submit button{
    margin: 10px 0 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.65;
    border: none;
    color: #FFF;
    background: #f9991f;
    padding: 12px 90px;
    border-radius: 50px;
    height: 48px;
    width: 50%;
}

button.back_btn {
    background: transparent;
    border: 0;
    font-size: 18px;
    margin: 18px 0 0;
    color: #000000;
    position: absolute;
    left: 0;
    top: -70px;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
    position: static!important;
}


button.back_btn:focus{
    outline: none;
}


.invalid-feedback{
    color:#f00;
}

@media(min-width:320px) and (max-width: 767px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.dashh{width: 100%;}
.paswrd_change i{right: 40px;  margin: 16px 0 0;}
.submit button{width: 100%;}
button.back_btn{margin: 0px;}
p.message.alert{display:none;}
.dashh{padding: 10px 15px 30px;}
.paswrd_change h2{font-size: 20px; padding:10px 0 20px;}
}


@media(min-width:768px) and (max-width: 991px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.dashh{width: 100%;}
.paswrd_change i{right: 40px;}
}


@media(min-width:992px) and (max-width: 1199px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.dashh{width: 100%;}
.paswrd_change i{right: 40px;}
}
