<app-header></app-header>
<div class="boxed-container">
    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="dashh paswrd_change">
                    <h2>Change Password</h2>
                    <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                    <p class="message alert" [ngClass]="successClass">{{message}}</p>
                    <form [formGroup]="updatepassword" class="container mt-3" (ngSubmit)="ChnagePassword()">
                        <div class="form-group custom_width">
                            <label for="current">Current Password *</label>
                            <input autocomplete="off" formControlName="CurrentPassword" type="password" [ngClass]="{ 
                                'is-invalid': submitted && f.CurrentPassword.errors || f.CurrentPassword.touched || f.CurrentPassword.dirty}">
                            <i class="fa fa-eye-slash" (click)="showPassword($event,CurrentPassword)"> </i>
                            <div *ngIf="submitted && f.CurrentPassword.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.CurrentPassword.errors.required">This field is required</div>
                                <div *ngIf="submitted && f.CurrentPassword.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group custom_width">
                            <label for="newPW">New Password *</label>
                            <input autocomplete="off" formControlName="NewPassword" type="password" [ngClass]="{ 
                         'is-invalid': submitted && f.NewPassword.errors || f.NewPassword.touched || f.NewPassword.dirty}">
                            <i class="fa fa-eye-slash" (click)="showPassword($event,NewPassword)"> </i>
                            <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.NewPassword.errors.required">This field is required</div>
                                <div *ngIf="submitted &&  f.NewPassword.errors.pattern || f.NewPassword.errors.minlength ">Password requires 8 or more characters and must include a number, capital letter and a special character(!,$ etc.).</div>
                            </div>
                            <!-- <div *ngIf="f.NewPassword.errors && f.NewPassword.dirty" class="invalid-feedback">
                            <div *ngIf="f.NewPassword.touched || f.NewPassword.dirty">Password must be at least 6 characters</div>
                        </div> -->
                        </div>

                        <div class="form-group custom_width">
                            <label for="confirm">Confirm new password *</label>
                            <input autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors || f.ConfirmPassword.touched || f.ConfirmPassword.dirty}" formControlName="ConfirmPassword" type="password">
                            <i class="fa fa-eye-slash" (click)="showPassword($event,ConfirmPassword)"> </i>
                            <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="submitted && f.ConfirmPassword.errors.required">This field is required</div>
                                <div *ngIf="submitted && f.ConfirmPassword.errors.minlength">Minimum length 6</div>
                                <div *ngIf="submitted && f.ConfirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                            <!-- <div *ngIf="f.ConfirmPassword.errors && f.ConfirmPassword.dirty" class="invalid-feedback">
                            <div *ngIf="f.NewPassword.touched || f.ConfirmPassword.dirty">This field is required</div>
                        </div> -->
                        </div>
                        <div class="submit">
                            <button class="btn" type="submit">Submit</button>
                            <!-- <button class="btn" type="submit" [disabled]="!updatepassword.valid">SEND</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>