<app-header></app-header>

<div class="dash boxed-container">
    <div class="container">
        <div class="col-md-12">
            <div class=" row ">
                <div class="col-md-6 float-left">
                    <!-- <button (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button> -->
                </div>
                <div class="col-md-6 float-right csv text-right">
                    <label class="label_download">Download CSV</label>
                    <select class="downlodcsv" (change)="getExcel($event.target.value)">
                        <option value="">Choose Download Format</option>
                        <option value="mailchimp">Mailchimp</option>
                        <option value="constantcontact">Constant Contact</option>
                    </select>
                    <!-- <div *ngIf="download_showloader" class="download_showloader"><img src="assets/img/loader.gif" alt=""></div> -->
                </div>
                <!-- <div class="downlod_option"><button [disabled]="showexcel" value="user" (click)="getExcel($event.target.value)"><i class="fa fa-download" aria-hidden="true"></i>Download CSV</button></div> -->
            </div>
            <div class="row vendor_search add_margin">
                <div class="col-6">
                    <h2 class="htitle">Procedure List</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6 datepicker_custom">
                <input type="text" placeholder="Search By Procedure Name" [(ngModel)]="filterProcedure" (keyup)="selectSearchType('procedure')">
            </div>
                <div class="col-md-6">
                    <button class="add_procedure" [routerLink]="['/procedureAdd']" style="float: right; margin: 15px">Add Procedure</button>
                </div>
            </div>
            <div class="user_list table-responsive">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">Procedure Name</th>
                            <th style="width: auto;">Category Name</th>
                            <th style="width: auto;">Module Name</th>
                            <th style="width: auto;">Gender</th>
                            <th style="width: auto;">Type</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of procedureData | paginate: { itemsPerPage: range, currentPage: activePage }; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{data.procedure_name}}</td>
                            <td>{{data.category_name}}</td>
                            <td>{{data.module_name}}</td>
                            <td>{{data.gender}}</td>
                            <td>{{data.type}}</td>
                            <td style=" cursor: pointer;">
                                <!-- <a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a> -->
                                 <button data-toggle="tooltip" data-placement="top" title="Edit" class="tool_tip"><a [routerLink]="['/procedureedit',data.prodId]" class="edit"><i class="fa fa-edit"></i></a></button>
                                 <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="tool_tip"><a (click)="deleteProcedure(data.prodId)" class="edit"><i class="fa fa-trash"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="totalCount<1" ><p class="alert alert-danger">No result found</p></div>
        <div class="row">
            <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <!-- <pagination-controls (pageChange)="activePage = $event"></pagination-controls> -->
            <!-- <app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination> -->
        </div>
    </div>
</div>