<app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div class="row">
            <form [formGroup]="procedureForm" class="container mt-3">
                <div class="user-form">
                    <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i>Back</button>
                    <h3>Select Module Type *</h3>
                    <div class="form-group custom_width">
                        <select formControlName="module">
							<option [value]="null">--Select Module Type--</option>
						   <option [value]="module.moduleId" *ngFor="let module of moduleList">{{module.module_name}}</option>
						</select>
                        <div class="validation" *ngIf="isSubmit && procedureForm.controls.module.errors && procedureForm.controls.module.errors.required">This field is required</div>
                    </div>
                    <div class="form-group custom_width">
                        <h3>Area of Interest *</h3>
                        <select formControlName="body_part">
							<option [value]="null">--Select Area of Interest--</option>
							<option *ngFor="let procedureCate of procedureCategory" [value]="procedureCate.procedureId" >{{procedureCate.category_name}}</option>
						</select>
                        <div class="validation" *ngIf="isSubmit && procedureForm.controls.body_part.errors && procedureForm.controls.body_part.errors.required">This field is required</div>
                    </div>


                    <div>
                        <h3>Select Gender *</h3>
                        <div class="form-group custom_width">
                            <select formControlName="gender" name="procedure_gender">
								<option value="">-- Select Gender --</option>
								<option *ngFor="let data of gender">{{data.name}}</option>
							</select>
                            <div class="validation" *ngIf="isSubmit && procedureForm.controls.gender.errors && procedureForm.controls.gender.errors.required">This field is required</div>
                        </div>
                    </div>

                    <div>
                        <h3>Select Procedure Type *</h3>
                        <div class="form-group custom_width">
                            <div class="choose_surgical">
                                <label for="na">Not Applicable</label>
                                <input formControlName="type" type="radio" name="type" value="" [checked]='true'>
                            </div>
                            <div class="choose_surgical">
                                <label for="surgical">Surgical</label>
                                <input type="radio" formControlName="type" value="surgical">
                            </div>
                            <div class="choose_surgical">
                                <label for="nonSurgical">Non Surgical</label>
                                <input type="radio" formControlName="type" value="nonsurgical">
                            </div>
                            <div class="validation" *ngIf="isSubmit && procedureForm.controls.type.errors && procedureForm.controls.type.errors.required">This field is required</div>
                        </div>
                    </div>




                    <div class="form-group custom_width">
                        <label for="Price" class="labels">Procedure_name *</label>
                        <input type="text" formControlName="procedure_name" placeholder="Procedure_name *">
                        <div class="validation" *ngIf="isSubmit && procedureForm.controls.procedure_name.errors && procedureForm.controls.procedure_name.errors.required">This field is required</div>
                        <div class="validation" *ngIf="isSubmit && procedureForm.controls.procedure_name.errors && (procedureForm.controls.procedure_name.errors.minlength)">Minimum length 3 and write in correct form</div>
                    </div>
                    <div class="form-group custom_width">
                        <label for="Add Description" class="labels">Description *</label>
                        <textarea style="resize:none;" formControlName="description" placeholder="Add Description"></textarea>
                        <div class="validation" *ngIf="isSubmit && procedureForm.controls.description.errors && procedureForm.controls.description.errors.required">This field is required</div>
                        <!-- <div class="validation" *ngIf="isSubmit && procedureForm.controls.description.errors && procedureForm.controls.description.errors.pattern">write in correct form</div> -->
                    </div>

                    <div class="form-group submit full_width">
                        <input type="submit" class="btn" (click)="submit()" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>