.user-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #33adad;
}
.container {
    max-width: 650px;
    padding: 2vw 2vw;
    background: #fff;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
}


table.tbl_list td {
   text-align: left!important;
   border-bottom: 1px solid #e4e4e4;
   padding-left: 10px!important;
}

.userdata tr th{
    background: #30c7c2;
    color: #fff;
    padding: 10px 20px 10px;
    border-bottom: 1px solid #FFF;
    font-weight: 400;
}

.userdata tr td {
    padding: 0 0px 0 40px;
    border-bottom: 1px solid #e4e4e4;
}

.queried_head h4 {
    font-size: 22px !important;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-right: 20px !important;
}

.table-responsive th {
    color: #FFF;
    padding: 10px 10px;
    font-size: 15px;
    border-right: 1px solid #FFF;
}

.table-responsive td {
    white-space: nowrap;
    font-size: 13px;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #ddd;
}

.queried_head{
    margin: 5% 0% 5% 0;
}
.site-logo {
    text-align: center;
    margin-bottom: 20px;
}
.discalimer {
    width: 100%;
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    margin-top: 8%;
    margin-left: 2%;
    padding: 0 20px;
}
.bottom_text{
    width: 100%;
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
}
.bottom_text p {
    font-size: 15px;
    margin: 20px 0 0;
    color: #000;
    font-weight: 600;
}
img{
    max-width:100%;
    vertical-align: middle;
}

.bottom_text a {
    color: #30c7c2;
}



/********************Media Query*********************/

@media (max-width: 600px) {

.container {
    border-radius: 20px;
}

.signin h4 {
    margin: 20px 0;
}

.col-md-6.imgg {
    text-align: center;
}

.col-md-6.imgg img {
    padding: 0;
    max-width: 240px;
}
}