<div class="user-page">
	<div class="container">
		<div class="row">
			<div class="col-md-12 signin">
				<div class="site-logo"><img src="assets/img/eprice_black.png" alt="userdetails" />
				</div>
				<div *ngIf="errorShow" style="text-align: center;"  class="alert alert-danger error_msg" role="alert">{{message}}</div>
				<div *ngIf="!errorShow && userQueried">
					<!--table style="width:100%" class="userdata">
						<tr *ngIf="userQueried.first_name">
							<th>First Name:</th>
							<td>{{userQueried.first_name | titlecase}}</td>
						</tr>

						<tr *ngIf="userQueried.last_name">
							<th>Last Name:</th>
							<td>{{userQueried.last_name | titlecase}}</td>
						</tr>

						<tr *ngIf="userQueried.clientGender">
							<th>Gender:</th>
							<td>{{userQueried.clientGender}}</td>
						</tr>

						<tr *ngIf="userQueried.user_email">
							<th>Email:</th>
							<td>{{userQueried.user_email}}</td>
						</tr>

						<tr *ngIf="userQueried.user_phone">
							<th>Contact No:</th>
							<td>{{userQueried.user_phone}}</td>
						</tr>
					</table-->
					<div class="queried_head">
						<h4 style="text-align:center;">Here is/are your Requested Procedure(s). </h4>
						<span>Please call {{businessname}} at <a href="tel:{{businessphone}}">{{businessphone}}</a> to schedule your consultation.</span>
					</div>
					<div class="table-responsive">
						<table class="tbl_list" cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
							<thead style="background: #30c7c2;">
								<tr>
									<th>Category Name</th>
									<th>Procedure Name</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let catVal of catList; let ik = index">
									<td>{{catList[ik]}}</td>
									<td>
										<div *ngFor="let form of resultsVal; let i = index" class="edit-userdiscription-cu">
											<div *ngIf="catList[ik]==resultsVal[i].category_name">
												{{resultsVal[i].procedure_name}}
											</div>
										</div>
									</td>
									<td>
										<div *ngFor="let form of resultsVal; let i = index" class="edit-userdiscription-cu">
											<div *ngIf="catList[ik]==resultsVal[i].category_name">
												${{resultsVal[i].prod_cost}}
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td colspan="1"><b>Total Estimated Quote</b></td>
									<td colspan="2" style="text-align: center!important;color: #30c7c2;font-size: 16px; font-weight: 600;">${{totalValue}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="discalimer">
					<span><b>Disclaimer</b>: {{disclaimer}}</span>
				</div>
			<div class="bottom_text">
				<p>Powered by <span><a href="https://www.zendyhealth.com">ZendyHealth</a></span></p>
			</div>
		</div>
	</div>
</div>