<app-header></app-header>

<div class="dash boxed-container">
    <div class="container">
        <div class="col-md-12">
            <div class="row vendor_search">
                <div class="col-md-7 col-sm-4 float-left">
                    <!-- <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button> -->
                </div>
                <div class="col-md-5 col-sm-8 float-right csv text-right mt-3 yellow_select">
                    <label class="label_download">Download CSV</label>
                    <select class="downlodcsv" (change)="getExcel($event.target.value)">
                        <option value="">Choose Download Format</option>
                        <option value="mailchimp">Mailchimp</option>
                        <option value="constantcontact">Constant Contact</option>
                    </select>
                    <!-- <div *ngIf="download_showloader" class="download_showloader"><img src="assets/img/loader.gif" alt=""></div> -->
                </div>
            </div>

            <div class="row vendor_search add_margin">
                <h2 class="col-md-12 htitle">Vendor List</h2>
                <div class="col-md-6 col-sm-6">                    
                    <input type="text" placeholder="Search" (keyup)="onChange($event.target.value)" />
                </div>
                <div class="col-md-6 col-sm-6">
                    <select (change)="selectSearchType($event.target.value)">
                        <option *ngFor="let data of selectType" [value]="data.value">{{data.name}}</option>
                    </select>
                </div>
            </div>

            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">First Name</th>
                            <th style="width: auto;">Last Name</th>
                            <th style="width: auto;">Business Email</th>
                            <th style="width: auto;">Speciality</th>
                            <th style="width: auto;">City</th>
                            <th style="width: auto;">State</th>
                            <th style="width: auto;">Zipcode</th>
                            <th style="width: auto;">Register Date</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of webUser  | paginate: { itemsPerPage: range, currentPage: activePage } ; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{user.first_name | titlecase}}</td>
                            <td>{{user.last_name | titlecase}}</td>
                            <td>{{user.provider_business_email}}</td>
                            <td>{{user.doc_type}}</td>
                            <td>{{user.city}}</td>
                            <td>{{getStates(user.state)}}</td>
                            <td>{{user.zipcode}}</td>
                            <td>{{date_change(user.created_at)}}</td>

                            <td style=" cursor: pointer;">
                                <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a></button>
                                <button data-toggle="tooltip" data-placement="right" title="Edit" class="tool_tip"><a [routerLink]="['/webuseredit',user.api_key]" class="edit"><i class="fa fa-edit"></i></a></button>
                                <button data-toggle="tooltip" data-placement="left" title="Delete" class="tool_tip"><a (click)="deleteWebuser(user.api_key)" class="edit"><i class="fa fa-trash"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="dataLoading" style="text-align: center;">Loading....</div>
        <div *ngIf="webUser && webUser.length===0 && !dataLoading" ><p class="alert alert-danger">No result found</p></div>
        <div class="row">
            <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
        <!-- <div *ngIf="totalCount>range">
            <app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div> -->

    </div>
</div>