/* li.page-item {
    float: left;
}

.pagination {
    padding: 50px 50px;
    display: inline-block;
    text-align: center;
}

.page-item.active .page-link{
	background-color: #30c7c2!important;
    border-color: #30c7c2!important;
}

.page-item:last-child .page-link{
	border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.page-item:first-child .page-link{
	border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

a.page-link:focus {
    box-shadow: none;
    outline: none;
}

li.page-item {
    cursor: pointer;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
}

.page-link:hover{
    color: #ffffff!important;
    background-color: #faa642!important;
    border-color: #faa642!important;
}


@media(min-width:320px) and (max-width: 767px){
.pagination{padding: 50px 0px;}
.page-link{padding: .5rem 0.45rem!important; }

}

@media(min-width:768px) and (max-width: 1024px){
.pagination{padding: 50px 50px;}
} */



button.btn.btn-success-light.pagination-button:last-child {
    border-right: 1px solid #d8d8d8;
}

button.btn.btn-success-light.pagination-button {
    border: 1px solid #d8d8d8;
    border-radius: 0;
    border-right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

button.btn.btn-success-light.pagination-button:focus{
    outline:none;
    box-shadow:none;
}

.pre_btn {
    background: #d4d4d4;
    color: #000;
    opacity: 1;
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.nxt_btn {
    background: #30c7c2;
    color: #FFF;
    border: 1px solid #30c7c2!important;
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.btn-toolbar {
    display: inline-block!important;
}

.align-items-center{
    width: 100%!important;
    margin-top: 20px;
}




@media(min-width:320px) and (max-width:480px){
.ngx-pagination .current{padding: 10px 7px !important;}
.ngx-pagination .disabled{padding: 10px 0px !important; max-width: 88px !important;}
.ngx-pagination li:last-child{max-width: 88px !important;}

}