<!-- <nav aria-label="page navigation example">
    <ul class="pagination">
        <li class="page-item" (click)="changePageNo(pager.currentPage - 1)"><a class="page-link">Previous</a></li>
        <span *ngFor="let number of pager.pages">
			<li class="page-item"  [ngStyle]="{'background-color':pager.currentPage===number  ? '#9BCB6A' : '' }" (click)="changePageNo(number)"><a class="page-link" href="javascript:void(0);">{{number}}</a></li>
		</span>
        <li class="page-item" (click)="changePageNo(pager.currentPage + 1)"><a class="page-link">Next</a></li>
    </ul>
</nav> -->

<div class="d-flex align-items-center justify-content-between text-center">
    <div class="align-items-center">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li>
                        <button type="button" class="btn btn-success-light pagination-button pre_btn" (click)="changePageNo(pager.currentPage - 1)" [disabled]="pager.currentPage === 1">Previous</button>
                    </li>
                    <div class="btn-group" *ngFor="let number of pager.pages" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success-light pagination-button " style="color:#888;" (click)="changePageNo(number)" [ngStyle]="{'background-color':pager.currentPage===number  ? '#f9991f' : '', 'color':pager.currentPage===number  ? '#FFF' : '' }">{{number}}</button>
                    </div>
                    <li>
                        <button type="button" class="btn btn-success-light pagination-button mx-0 nxt_btn" (click)="changePageNo(pager.currentPage + 1)" [disabled]="pager.currentPage === pager.totalPages">Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>