/* .Manage_profile {
   max-width: 100%;
    padding: 2vw 2vw;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 17px 0px #00000026;
    position: relative;
    margin: 11vh auto;
    height: 100%;
    border: 1px solid #dcdcdc;
    background: #fff;
    border: 1px solid #dcdcdc;
    width: calc(100% - 260px);
    box-shadow: 0px 0px 17px 0px #00000026;
    float: right;
    min-height: calc(100vh - 80px);
    position: relative;
    top: 80px;
    display: block;
    padding: 15px;
}*/

.dashh {
    width: 85%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    /*box-shadow: 0px 0px 17px 0px #00000026;*/
    background: #FFF;
    border: 1px solid #dcdcdc;
    padding: 15px;
    border-radius: 10px;
}

.profile_pic {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #31c2c7;
    margin: 0 auto;
}

#profile_info h3 {
    text-transform: capitalize;
}

.edit_profile {
    position: absolute;
    left: 0;
    right: 0;
    content: "";
    margin: 0 auto;
    top: 100px;
}

.pr {
    position: relative;
}


/*.boxed-container {
    width: 100%;
     float:none; 
    min-height: calc(100vh - 80px);
    position: relative;
    top: 0px;
    display: block;
    padding: 15px;
    margin: 0 auto;
}
*/

.profileUploadFrm {
    text-align: center;
}

.fileinput input {
    width: auto;
}

.loaderDiv {
    margin: 0 auto;
    display: block;
}

.user-form input {
    background: #ffffff;
    font-size: 15px;
    height: 46px;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border: 1px solid #d2d2d2;
    outline: none;
    padding: 0 10px;
}

.user-form select {
    background: #ffffff;
    font-size: 15px;
    height: 46px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 10px;
    border-radius: 30px;
    color: #000;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.user-form h3 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding: 20px 0 20px;
}

.submit input {
    margin: 10px 0 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.65;
    border: none;
    color: #FFF;
    background: #f9991f;
    padding: 10px 90px;
    border-radius: 50px;
    height: 48px;
    width: 50%;
}

.user-form label {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    padding: 0 0 6px;
}

.tabs_upper {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -45px;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.tabs_upper ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.tabs_upper ul li:first-child {
    border-top-left-radius: 8px;
}

.tabs_upper ul li {
    float: none;
    margin: 0 0px 0 0;
    opacity: 0.80;
    display: inline-block;
}

.active {
    background: #FFF!important;
    opacity: 1!important;
}

.tabs_upper ul li button {
    color: #FFF;
    font-size: 16px;
    padding: 10px 39px;
    display: inherit;
    font-weight: 600;
    background: #f9991f;
    border: 0px;
    margin-right: 5px;
    border-radius: 10px 10px 0 0;
}

.tabs_upper ul li button:foucs {
    text-decoration: none;
    outline: none;
}

.tabs_upper button:focus {
    border: 0;
    outline: none;
}

#profile_info {
    width: 100%;
    display: inline-block;
}

#other_info {
    width: 100%;
    display: inline-block;
}

.uplodaing {
    width: 100%;
    display: inline-block;
    margin: 30px 0 0;
}

.pro-fi-up .fileinput {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 0px 0 15px 0px;
    vertical-align: middle;
}

.pro-fi-up .btn-up-pic {
    display: inline-block;
    vertical-align: middle;
    margin: -38px 0 15px 0px;
    margin-left: 15px;
    vertical-align: middle;
}

.pro-fi-up .btn-up-pic .btn {
    background: #f9991f;
    color: #FFF;
    font-size: 18px;
    padding: 12px 56px;
    border-color: #f9991f;
    border-radius: 50px;
}

.pro-fi-up .fileinput input[type="file"] {
    padding: 12px 36px;
    height: auto;
    border-radius: 50px;
}

.loaderDiv {
    text-align: center;
}

.profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fileinput input {
    background: #3a3f48!important;
    color: #fff;
    border-color: #3a3f48!important;
}

.fileinput p {
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    padding: 2px 0 0;
    color: #f00;
}

form.container.mt-3.ng-dirty.ng-touched.ng-valid .btn {
    background: #f98900;
}

button.back_btn {
    background: transparent;
    border: 0;
    font-size: 18px;
    margin: 18px 0 0;
    color: #000000;
    position: absolute;
    left: 0;
    top: -58px;
    z-index: 9999;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
}

button.back_btn:focus {
    outline: none;
}

.user-form h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

span.headSpan {
    text-align: left;
    /* text-transform: capitalize; */
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    margin-bottom: 0px;
    padding: 20px 0 10px;
    display: inline-block;
}

@media(min-width:320px) and (max-width: 767px) {
    .boxed-container {
        width: 100%;
    }
    .boxed-container .container {
        max-width: 100%;
    }
    .dashh {
        width: 100%;
    }
    .submit input {
        width: 100%;
    }
    .user-form h3 {
        display: none;
    }
    header#header {
        width: 100%!important;
    }
    .pro-fi-up .btn-up-pic .btn {
        margin: 40px 0px 0px;
    }
    .fileinput p {
        text-align: center;
        padding: 12px 0 0;
        font-size: 14px;
    }
    .tabs_upper ul li button {
        font-size: 13px;
        padding: 10px 28px;
    }
    button.back_btn {
        top: -100px;
        font-size: 18px;
        z-index: 9;
    }
    .tabs_upper {
        top: -40px;
    }
    p.message.alert {
        display: none;
    }
    .form-group .col {
        width: 100%!important;
        max-width: 100%;
        flex-basis: inherit;
        margin: 0 0 10px;
    }
    .user-form label {
        font-size: 14px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .pro-fi-up .btn-up-pic .btn {
        font-size: 16px;
        padding: 9px 46px;
    }
    .pro-fi-up .btn-up-pic .btn {
        margin: 30px 0px 0px;
    }
}

@media(min-width:667px) and (max-height: 375px){
.submit input {width: 50%!important;}
 }


@media(min-width:768px) and (max-width: 991px) {
    .boxed-container {
        width: 100%;
    }
    .boxed-container .container {
        max-width: 100%;
    }
    .dashh {
        width: 100%;
    }
    .user-form h3 {
        display: none;
    }
    header#header {
        width: 100%!important;
    }
    p.message.alert {
        display: none;
    }
    button.back_btn {
        z-index: 9;
    }
}

@media(min-width:992px) and (max-width: 1199px) {
    .boxed-container {
        width: 100%;
    }
    .boxed-container .container {
        max-width: 100%;
    }
    .dashh {
        width: 100%;
    }
    .user-form h3 {
        display: none;
    }
    header#header {
        width: 100%!important;
    }
}

@media(max-width: 1366px) {
    button.back_btn {
        z-index: 9;
    }
}