<app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div class="row">
            <div class="user-form dashh">

                <form focusInvalidInput [formGroup]="disclaimerForm" class="container mt-3" (ngSubmit)="logValue(disclaimerForm.value)" novalidate>
                    <span>{{message}}</span><br>
                    <div class="user-form">
                        <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                    </div>
                    <div class="heaad">
                        <h3>Add Disclaimer</h3>
                        <span class="headSpan">(Disclaimer applies to all procedures and are not procedure-specific)</span>
                    </div>
                    <div class="form-group custom_width">
                        <input autocomplete="off" formControlName="disclaimer" class="" type="text" name="disclaimer" required>
                    </div>
                    <div style="color: red; float: right;" *ngIf="disclaimerForm.invalid">This field is required</div>
                    <div class="form-group submit text-center">
                        <input [disabled]="disclaimerForm.invalid" type="submit" class="btn" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>