<div class="forgot">
    <div class="container">
        <div class="row">
            <div class="col-md-12 signin text-center">
                <img _ngcontent-vwb-c1="" alt="" src="assets/img/eprice_black.png">
                <h4>Forgot Password</h4>
                <p class="message alert" [ngClass]="successClass">{{message}}</p>
                <form [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <span class="user-pass">
						<input autocomplete="off" type="email" formControlName="user_email" [ngClass]="{ 'is-invalid': submitted && f.user_email.errors || f.user_email.touched || f.user_email.dirty || f.user_email.errors.pattern}"  class="form-control"  placeholder="Enter Your Email">
						<div *ngIf="f.user_email.errors && (f.user_email.dirty || f.user_email.touched)" class="invalid-feedback">
							<div class="error" *ngIf="f.user_email.errors.required">This field is required</div>
							<div class="error" *ngIf="f.user_email.errors.pattern">Email must be a valid email address</div>
						</div>
					</span>
                        </div>
                    </div>
                    <button [disabled]="forgotForm.invalid" type="submit" class="col-md-12 btn btn-primary">Submit</button>
                    <button class="btn btn-default have_password"><a [routerLink]="['/login']">Already Have Password ?</a></button>
                </form>
            </div>
        </div>
    </div>
</div>