.forgot {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#33adad;
}

.container {
    max-width: 530px;
    padding: 5vw 3vw;
    background: #fff;
    border-radius: 20px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
}

.col-md-6 {
    align-self: center;
}

.col-md-6.imgg img {
    width: 100%;
    padding: 20px 0;
}

.signin h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 0px;
    color: #30c7c2;
    margin-top: 30px;
    font-size: 30px !important;

}



.form-control {
    background: #ffffff;
    font-size: 15px;
    height: 48px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
}

.form-control:focus {
    border-bottom: 1px solid #000;
}

form input.form-control:focus, .fpass button:focus {
    box-shadow: none;
}

form {
    text-align: center;
}

form button.col-md-12.btn.btn-primary {
    max-width: 100%;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 14px;
    z-index: 6;
    position: relative;
    border: none;
    width: 100%;
    border-radius: 30px;
    font-size: 15px;
    background:#faa742;
}

form button.col-md-12.btn.btn-primary:hover {
    background: #faa742 !important;
}


.have_password {
    font-size: 10px;
    color: #888;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0px;
    z-index: 6;
    position: relative;
    border: none;
}

.error {
    font-size: 14px;
    color: #f00!important;
}


