<app-header></app-header>
<div class="boxed-container">
	<div class="container">
		<div class="row">
			
			<form focusInvalidInput [formGroup]="procdeureForm" class="container mt-3" (ngSubmit)="logValue(procdeureForm.value)" novalidate>
				<div class="user-form">
					<div *ngIf="message" style="color: red; font-size: 12px;">
						<div class="errors_ad">{{message}}</div>
					</div>
					<button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>

					<h3>Select Module Type *</h3>
					<div *ngIf="moduleList" class="form-group custom_width">
						<select formControlName="module_type" name="module_type" (change)="onChangeModule($event.target.value)">
							<option value="">--Select Module Type--</option>
							<option *ngFor="let modlue of moduleList" [value]="modlue.id">{{modlue.module_name}}</option>
						</select>

						<div *ngIf="issubmitted && f.module_type.errors " style="color: red; font-size: 12px;">
							<div *ngIf="f.module_type.errors.required " class="error_ad"> This field is required</div>
						</div>
					</div>

					<h3>Area of Interest *</h3>
					<div *ngIf="area_interest" class="form-group custom_width">
						<select (change)="getGender($event.target.value)" formControlName="area_interest_val" name="area_interest_val">
							<option value="">--Select Area of Interest--</option>
							<option *ngFor="let interest of area_interest; let i = index" [value]="area_interest[i].id">
								{{area_interest[i].category_name}}
							</option>
						</select>
						<div *ngIf="issubmitted && f.area_interest_val.errors" style="color: red; font-size: 12px;">
							<div *ngIf="f.area_interest_val.errors.required" class="error_ad"> This field is required</div>
						</div>
					</div>


					<!-- <div *ngIf="shhowGender" class="form-group custom_width">
						<div *ngIf="genderVal!=='Both' && genderVal!=='' && genderCheck.length < 2">
							<h3>Select Gender</h3>
							<div class="form-group custom_width">
								<select (change)="checkGender($event.target.value)" formControlName="procedure_gender" name="procedure_gender">
									<option [value]="null">--Select Gender--</option>
									<option [value]="genderVal">{{genderVal}} </option>
								</select>
							</div>
						</div>

						<div *ngIf="genderCheck.length > 1">
							<h3>Select Gender</h3>
							<div class="form-group custom_width">
								<select (change)="checkGender($event.target.value)" formControlName="procedure_gender" name="procedure_gender">
									<option [value]="null">--Select Gender--</option>
									<option *ngFor="let gender of genderCheck; let i = index" [value]="genderCheck[i].gender">
									{{genderCheck[i].gender}}
								</option>
								</select>
							</div>
						</div>
					</div> -->
					<div class="form-group custom_width">
						<h3>Select Gender *</h3>
						<select formControlName="procedure_gender" name="procedure_gender" (change)="onGenderChange($event.target.value)">
							<option value="">--Select Gender--</option>
							<option *ngFor="let data of gender">{{data.name}}</option>
						</select>
						<div *ngIf="issubmitted && f.procedure_gender.errors " style="color: red; font-size: 12px;">
							<div *ngIf="f.procedure_gender.errors.required " class="error_ad"> This field is required</div>
						</div>
					</div>
					<div class="form-group custom_width">
						<h3>Select Procedure Type *</h3>
						<div class="form-group custom_width mrgn_0">
							<div class="choose_surgical">
								<label for="surgical">Not Applicable</label>
								<input formControlName="procedure_type" id="na" type="radio" name="procedure_type" value="null" [checked]='true' (click)="onChangesurgicalType('null')">
							</div>
							<div class="choose_surgical">
								<label for="surgical">Surgical</label>
								<input formControlName="procedure_type" id="surgical" type="radio" name="procedure_type" value="surgical" (click)="onChangesurgicalType('surgical')">
							</div>
							<div class="choose_surgical">
								<label for="nonSurgical">Non Surgical</label>
								<input formControlName="procedure_type" id="nonSurgical" type="radio" name="procedure_type" value="nonsurgical" (click)="onChangesurgicalType('nonsurgical')">
							</div>
						</div>
					</div>

					<!-- <div class="form-group custom_width">
						<h3>Crate admin Procedure *</h3>
						<div class="form-group custom_width mrgn_0">

							<div class="choose_surgical">
								<label for="surgical">Select Procedure</label>
								<input formControlName="procedure" id="registerProcedure" type="radio" name="procedure" value="registerProcedure" (click)="onChange('registerProcedure')">
							</div>
							<div class="choose_surgical">
								<label for="nonSurgical">Create new Procedure</label>
								<input formControlName="procedure" id="newProcedure" type="radio" name="procedure" value="newProcedure" (click)="onChange('newProcedure')">
							</div>
						</div>
					</div> -->

					<div class="form-group custom_width">

						<div class="ouut">

							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div *ngIf="procedureArray && procdeureForm.value.procedure === 'newProcedure'" class="form-group custom_width">
										<h3>Select Procedure *</h3>
										<input formControlName="procedure_name" [value]="" placeholder="Procedure Name" />
										<div *ngIf="issubmitted && f.procedure_name.errors" style="color: red; font-size: 12px;">
											<div *ngIf="f.procedure_name.errors.required" class="error_ad"> This field is required</div>
										</div>
									</div>
									<!--div *ngIf="procedureArray && procdeureForm.value.procedure === 'registerProcedure'" class="form-group custom_width">
										<h3>Select Procedure *</h3>
										<select formControlName="diseaseType" name="diseaseType" (change)="diseaseForm($event.target.value)">
									<option [value]="null">--Select Procedure--</option>
									<option *ngFor="let procedure_data of procedureArray; let i = index" [value]="procedureArray[i].id">{{procedureArray[i].procedure_name}}</option>
								</select>

										<div *ngIf="submitted && f.diseaseType.errors " style="color: red; font-size: 12px;">
											<div *ngIf="f.diseaseType.errors.required "> This field is required</div>
										</div>
									</div-->
								</div>
								<!--div class="col-md-4 col-sm-4">
									<div class="form-group custom_width">
										<h3>Select type *</h3>
										<select formControlName="procedure" name="procedure" (change)="onChange($event.target.value)">
									<option value="registerProcedure" (click)="onChange('registerProcedure')">Default</option>
									<option value="newProcedure" (click)="onChange('newProcedure')">New</option>
								</select>
										<div *ngIf="submitted && f.procedure.errors " style="color: red; font-size: 12px;">
											<div *ngIf="f.procedure.errors.required "> This field is required</div>
										</div>
									</div>
								</div-->

							</div>

						</div>


					</div>
					<div class="form-group custom_width">
						<label for="Add Description" class="labels">Description *</label>
						<textarea style="resize:none;" formControlName="prod_desc" [value]="" placeholder="Add Description">{{description}}</textarea>

						<div *ngIf="issubmitted && f.prod_desc.errors" style="color: red; font-size: 12px;">
							<div *ngIf="f.prod_desc.errors.required" class="error_ad"> This field is required</div>
						</div>
					</div>
					<!--div class="form-group custom_width">
						<label for="Add Disclaimer" class="labels">Add Disclaimer</label>
						<input type="text" autocomplete="off" formControlName="procedure_disclaimer" name="procedure_disclaimer" placeholder="Add Disclaimer">
						<div *ngIf="submitted && f.procedure_disclaimer.errors " style="color: red; font-size: 12px;">
							<div *ngIf="f.procedure_disclaimer.errors.required "> This field is required</div>
						</div>
					</div-->
					<div class="form-group custom_width">
						<table style="width:50%" class="userdata" *ngIf="genderVal==='Both'">
							<tr>
								<td>Quote for Male($) *</td>
							</tr>
							<tr>
								<td>
									<input type="text" autocomplete="off" formControlName="procedure_cost_male" name="procedure_cost_male" placeholder="Enter price or price range. Specific price is recommended. *">
								</td>
							</tr>
							<div *ngIf="issubmitted && f.procedure_cost_male.errors" style="color: red; font-size: 12px;">
								<div *ngIf="f.procedure_cost_male.errors.required" class="error_ad"> This field is required</div>
								<div *ngIf="f.procedure_cost_male.errors.pattern" class="error_ad"> Price Should be in Valid number</div>
							</div>
							<tr>
								<td>Quote for Female($) *</td>
							</tr>
							<tr>
								<td>
									<input type="text" autocomplete="off" formControlName="procedure_cost_female" name="procedure_cost_female" placeholder="Enter price or price range. Specific price is recommended. *">
								</td>
							</tr>
							<div *ngIf="issubmitted && f.procedure_cost_female.errors" style="color: red; font-size: 12px;">
								<div *ngIf="f.procedure_cost_female.errors.required" class="error_ad"> This field is required</div>
								<div *ngIf="f.procedure_cost_female.errors.pattern" class="error_ad"> Price Should be in Valid number</div>
							</div>
						</table>
						<table style="width:50%" class="userdata" *ngIf="genderVal==='Female'">
							<tr>
								<td>Quote for Female($) *</td>
							</tr>
							<tr>
								<td>
									<input type="text" autocomplete="off" formControlName="procedure_cost_female" name="procedure_cost_female" placeholder="Enter price or price range. Specific price is recommended. *">
								</td>
							</tr>
							<div *ngIf="issubmitted && f.procedure_cost_female.errors" style="color: red; font-size: 12px;">
								<div *ngIf="f.procedure_cost_female.errors.required" class="error_ad"> This field is required</div>
								<div *ngIf="f.procedure_cost_female.errors.pattern" class="error_ad"> Price Should be in Valid number</div>
							</div>
						</table>
						<table style="width:50%" class="userdata" *ngIf="genderVal==='Male'">
							<tr>
								<td>Quote for Male($) *</td>
							</tr>
							<tr>
								<td>
									<input type="text" autocomplete="off" formControlName="procedure_cost_male" name="procedure_cost_male" placeholder="Enter price or price range. Specific price is recommended. *">
								</td>
							</tr>
							<div *ngIf="issubmitted && f.procedure_cost_male.errors" style="color: red; font-size: 12px;">
								<div *ngIf="f.procedure_cost_male.errors.required" class="error_ad"> This field is required</div>
								<div *ngIf="f.procedure_cost_male.errors.pattern" class="error_ad"> Price Should be in Valid number</div>
							</div>
						</table>
					</div>
					<!-- <div *ngIf="shhowGender" class="form-group">
						<label for="Price" class="labels">Price</label>
						<input type="number" autocomplete="off" formControlName="procedure_cost_start" name="procedure_cost_start" placeholder="Price *">
						<div *ngIf="submitted && f.procedure_cost_start.errors " style="color: red; font-size: 12px;">
							<div *ngIf="f.procedure_cost_start.errors.required "> This field is required</div>
						</div>
					</div> -->
					<div class="form-group custom_width">
						<span class="erros">{{errormsg}}</span>
					</div>
					<div class="form-group submit full_width">
						<input type="submit" class="btn submit" value="Submit" />
					</div>
				</div>
			</form>
		</div>
	</div>