<app-header></app-header>
<div class="dash boxed-container">
    <div class="container">
        <div class="new_lds row ">
            <div class="col-md-7 col-sm-4 float-left">
                <!-- <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button> -->
            </div>
            <div class="col-md-5 col-sm-8 float-right csv text-right ">
                <label class="label_download">Download CSV</label>
                <select class="downlodcsv" (change)="getExcel($event.target.value)">
                    <option value="">Choose Download Format</option>
                    <option value="mailchimp">Mailchimp</option>
                    <option value="constantcontact">Constant Contact</option>
                </select>
                <!-- <div *ngIf="download_showloader" class="download_showloader"><img src="assets/img/loader.gif" alt=""></div> -->
            </div>
            <!-- <div class="downlod_option"><button [disabled]="showexcel" value="user" (click)="getExcel($event.target.value)"><i class="fa fa-download" aria-hidden="true"></i>Download CSV</button></div> -->
        </div>
        <div class="row">
            <div class="col-md-6 btn-cli-ml">
                <h4 class="htitle">Vendor Procedure List</h4>
            </div>
            <div class="col-md-6 btn-cli-ml ">
                <button type="button" (click)="backClicked()" style="float: right;margin-top: 0px;" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
            </div>
            <div class="col-md-12">
                <div class="user_list">
                    <div class="table_outer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="datepicker_custom wdth">
                                <input type="text" placeholder="Search By Vendor Business Name" [(ngModel)]="vendorName">
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="datepicker_custom wdth">
                                <input type="text" placeholder="Search By Procedure Name" [(ngModel)]="procedureName">
                             </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                                <thead style="background: #30c7c2;">
                                    <tr>
                                        <th style="width: 200px;">Procedure Number</th>
                                        <th style="width: 250px;">Name of Practice/Business</th>
                                        <th style="width: 250px;">Module Name</th>
                                        <th style="width: 250px;">Category Name</th>
                                        <th style="width: 300px;">Procedure Name</th>
                                        <th style="width: 200px;">Price</th>
                                        <th style="width: 300px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let procedure_data of procedure_array | procedureSearch:vendorName:procedureName |  paginate: { itemsPerPage: range, currentPage: activePage };let i=index;">
                                        <td style="width: 200px; text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                                        <td style="width: 250px;">{{procedure_data.name_of_point | titlecase}}</td>
                                        <td style="width: 250px;">{{procedure_data.procedure_module_name}}</td>
                                        <td style="width: 250px;">{{procedure_data.procedure_category_name }}</td>
                                        <td style="width: 300px;">{{procedure_data.procedure_name}}</td>
                                        <td style="width: 200px;" [innerHtml]="rate_show(procedure_data.prod_cost)"></td>
                                        <td style="width: 300px;padding: 20px 30px 10px; cursor: pointer;">
                                            <!--a routerLink="/editprocedure/{{procedure_data.id}}" class="view">View</a-->
                                            <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a routerLink="/editprocedure/{{procedure_data.id}}" class="edit"><i class="fa fa-edit"></i></a></button>
                                            <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="tool_tip"><a (click)="deleteProcedures(procedure_data.prodlistId)" class="delete"><i class="fa fa-trash"></i></a></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="totalCount<1" ><p class="alert alert-danger">No result found</p></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete user popup start-->

<ng-template #disocuntForm>
    <div class="modal-header top-btn-md">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
		<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body custom_modal">
        <h3>Optional Discount (%) to Apply for Multiple Procedures:</h3>
        <form [formGroup]="updateDiscount" class="container mt-3" (ngSubmit)="submitDiscount(updateDiscount.value)">

            <input class="form-group" formControlName="discountval" min="0" type="number" required>
            <input [disabled]="updateDiscount.invalid" type="submit" class="yes_btn" value="Update Discount">
            <span *ngIf="reply" class="msgshow">{{reply}}</span>
        </form>

    </div>
</ng-template>
<!-- Delete user popup end-->