<app-header></app-header>
<div class="boxed-container">
    <div class="container">
        <div class="row">
            <div *ngIf="showloader" class="loaderDiv"><img src="assets/img/loader.gif" alt=""></div>
            <div class="user-form user-form-edit-js" *ngIf="!showloader">
                <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                <div class="form-group custom_width">
                    <div class="edit-userdiscription custom_undifind" name="userdata">
                        <div>
                            <span><span class="user-c-t">Speciality: </span><span class="user-c-t-n">{{ webUserData.doc_type }}</span></span><br>
                            <span><span class="user-c-t">Provider First Name: </span><span class="user-c-t-n">{{ webUserData.first_name | titlecase }}</span></span><br>
                            <span><span class="user-c-t">Provider Last Name: </span><span class="user-c-t-n">{{ webUserData.last_name | titlecase }}</span></span><br>
                            <span><span class="user-c-t">Name of Practice / Business: </span><span class="user-c-t-n">{{ webUserData.name_of_point | titlecase }}</span></span><br>
                            <span><span class="user-c-t">Email of Contact Provider: </span><span class="user-c-t-n">{{ webUserData.email_of_point }}</span></span><br>
                            <span><span class="user-c-t">Administrator Name: </span><span class="user-c-t-n">{{ webUserData.name_of_point_admin | titlecase }}</span></span><br>
                            <span><span class="user-c-t">Administrator Email: </span><span class="user-c-t-n">{{ webUserData.email_of_point_admin }}</span></span><br>
                            <span><span class="user-c-t">Business Email: </span><span class="user-c-t-n">{{ webUserData.provider_business_email }}</span></span><br>
                            <span><span class="user-c-t">Business URL: </span><span class="user-c-t-n">{{ webUserData.providerurl }}</span></span><br>
                            <span><span class="user-c-t">Phone No: </span><span class="user-c-t-n">{{ webUserData.mobile }}</span></span><br>
                            <span><span class="user-c-t">Street Address: </span><span class="user-c-t-n">{{ webUserData.street_address }}
							</span></span><br>
                            <span><span class="user-c-t">City: </span><span class="user-c-t-n">{{ webUserData.city }}
							</span></span><br>
                            <span><span class="user-c-t">State: </span><span class="user-c-t-n">{{selectState(webUserData.state) }}
							</span></span><br>
                            <span><span class="user-c-t">Country: </span><span class="user-c-t-n">{{ webUserData.country | uppercase }}
							</span></span><br>
                            <span><span class="user-c-t">Zip Code: </span><span class="user-c-t-n">{{ webUserData.zipcode }}
							</span></span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>