/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #30c7c2;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.disabledClass {
    background-color: #ddd!important;
}

.user-form {
    text-align: center;
}

.user-form {
    max-width: 85%;
    padding: 2vw 2vw;
    background: #fff;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
    position: relative;
    margin: 11vh auto;
    height: 100%;
    border: 1px solid #dcdcdc;
}

.user-form input {
    background: #ffffff;
    font-size: 15px;
    height: 46px;
    border-radius: 1px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 20px;
    border-radius: 30px;
}

.user-form textarea {
    background: #ffffff;
    font-size: 15px;
    height: 40px;
    border-radius: 20px;
    width: 95%;
    margin: 0 auto;
    border: none;
    border: 1px solid #ccc;
    outline: none;
    min-height: 150px;
    padding: 10px 10px;
}

.user-form h4 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    padding: 20px 0 0 0px;
    display: inline-block;
    width: 100%;
}

.user-form select {
    background: #ffffff;
    font-size: 15px;
    height: 46px;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 20px;
    -moz-appearance: none;
    background-image: url(https://api.superplasticsurgeons.com/uploads/assets/dropdown_icon.png);
    background-position: right center;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.user-form .form-group {
    width: 50%;
    float: left;
}

.user-form button {
    margin: 0px auto;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.65;
    border: none;
    color: #FFF;
    background: #28a745;
    padding: 11px 90px;
    border-radius: 0px;
    width: 100%;
}

.submit input {
    margin: 0px auto;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.65;
    border: none;
    color: #FFF;
    background: #f9991f;
    padding: 10px 0px;
    border-radius: 50px;
    height: 46px;
    width: 99%;
}

.error {
    font-size: 14px;
    text-align: left;
    padding: 3px 0 0 40px;
    font-weight: 400;
}

.user-form h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    /*padding: 0 0 0px 30px;*/
    margin-bottom: 0px;
    padding: 0 0 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
}

.Choose_image p {
    display: inline-block;
    position: relative;
    width: 25%;
}

.Choose_image p img {
    width: 73%;
    border: 2px solid #757575;
    border-radius: 1px;
}

.Choose_image p input {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.back_view {
    width: 100%;
    display: inline-block;
    text-align: right;
    padding: 0 0px 0 0px;
    display: none;
}

.back_view button {
    margin: 0px 0 25px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    border: none;
    color: #000;
    background: #f9b855!important;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 3px;
}

.form-group.full_width {
    width: 100%!important;
}

.form-group.full_width a {
    display: block;
    text-align: left;
    padding: 10px 0 0 28px;
    color: #000;
    text-decoration: none;
}

.form-group.full_width a strong {
    color: #007bff;
}

.choose_surgical label {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px 0 0;
}

.choose_surgical {
    float: left;
    /*margin: 10px 30px 0 30px;*/
    margin: 0px 30px 0px 0px;
}

.choose_surgical input {
    display: inline;
    float: left!important;
    width: auto!important;
    height: auto!important;
    margin: 6px 10px 0 0px!important;
    cursor: pointer;
}

.custom_width {
    width: 100%!important;
}

.custom_width select {
    width: 100%!important;
}

.custom_width input {
    width: 100%!important;
}

.custom_width textarea {
    width: 100%!important;
}

.user-form a {
    display: block;
}

.choose_surgical input {
    width: auto!important;
    float: none!important;
    position: relative;
    top: 2px;
}


/* Image Checkbox */

.Choose_image>input[type="checkbox"][id^="myCheckbox"] {
    display: none;
}

.Choose_image>label {
    border: 1px solid #dedede;
    padding: 15px 15px;
    position: relative;
    margin: 0 8px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 22%;
}

.Choose_image>label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #30c7c1;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.Choose_image>label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    width: 100%;
}

.Choose_image>:checked+label {
    border-color: #faaf3b;
}

.Choose_image>:checked+label:before {
    content: "✓";
    background-color: #30c7c1;
    transform: scale(1);
}

.Choose_image>:checked+label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
}


/* Image radio */

.width_resize {
    width: 100%!important;
    text-align: center;
}

.width_resize input {
    width: 50%!important;
}

.labels {
    text-align: left!important;
    display: inherit;
}

button.back_btn {
    background: transparent!important;
    border: 0!important;
    font-size: 18px!important;
    margin: 0px 0 0!important;
    color: #000000!important;
    position: absolute;
    left: -90px;
    width: auto!important;
    top: -49px;
    text-transform: capitalize!important;
    opacity: 1!important;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
}

button.back_btn:focus {
    outline: none;
}

table.userdata {
    width: 100%!important;
}

.userdata th {
    text-align: left;
    padding: 0 0px 13px;
    font-weight: 600;
}

.custom_width input {
    width: 100%!important;
    margin-bottom: 10px;
}

input.btn.submit {
    width: 50%!important;
}


.labels {
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    margin-bottom: 0px;
    padding: 0 0 10px;
}


.mrgn_0 {
    margin: 0 !important;
}

@media(min-width:320px) and (max-width: 768px) {
    .boxed-container {
        width: 100%;
        top: 130px;
        padding: 15px 0px;
    }
    .boxed-container .container {
        width: 100%;
        max-width: 100%;
    }
    .user-form {
        max-width: 100%;
        width: 92%;
        margin: 1vh auto;
        padding: 20px;
    }
    .Choose_image label {
        margin: 0 0px 20px;
        width: 80%;
    }
    .user-form h3 {
        margin-bottom: 10px;
    }
    .width_resize input {
        width: 100%!important;
    }
    .user-form .form-group {
        width: 100%;
    }
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]+label>img {
    transition: 500ms all;
}

html {
    background-color: #fff;
    background-size: 100% 1.2em;
    background-image: linear-gradient( 90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient( #eee .1em, transparent .1em);
}

@media(min-width:768px) and (max-width: 991px) {
    .width_resize input {
        width: 50%!important;
    }
    .user-form .form-group {
        width: 50%;
    }
}

