<app-header></app-header>

<div class="dash boxed-container">
    <div class="container"> 
        <div class="col-md-12">
            <div class="row">
                <div class="col-6">
                    <h2 class="htitle">Vendor Type List</h2>
                </div>
                <div class="col-6">
                    <button class="add_vendor" data-toggle="modal" data-target="#myModal" (click)="addDoctype()" style="float: right; margin: 15px">Add Vendor Type</button>
                </div>
            </div>



            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">Vendor Type</th>
                            <th style="width: auto;">Create At</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of doctorList | paginate: { itemsPerPage: range, currentPage: activePage, totalItems: totalCount } ; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{data.doc_type }}</td>
                            <td>{{date_change(data.created_at)}}</td>
                            <td style=" cursor: pointer;">
                                <!-- <a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a> -->
                                <button data-toggle="tooltip" data-placement="top" title="Edit" class="tool_tip"><a data-toggle="modal" data-target="#myModal" (click)="editDoctype(data.id)" class="edit"><i class="fa fa-edit"></i></a></button>
                                <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="tool_tip"><a (click)="deleteProcedure(data.id)" class="edit"><i class="fa fa-trash"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
        <!-- <div class="col-md-12 text-center">
            <app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div> -->
    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{modelId ? "Edit Vendor Type" : "Add Vendor Type"}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="doctorForm">
                    <div class="form-group">
                        <label class="center-block">Vendor Type *</label>
                        <input class="form-control" formControlName="doc_type">
                    </div>
                    <div style="color: red; float: right;" *ngIf="popupSub && isSubmit && doctorForm.controls.doc_type.errors && doctorForm.controls.doc_type.errors.required">Required</div>
                    <!-- <div style="color: red; float: right;" *ngIf="isSubmit && doctorForm.controls.doc_type.errors && doctorForm.controls.doc_type.errors.pattern">write in correct form</div> -->
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
                <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>