<app-header></app-header>
<div class="dash boxed-container" *ngIf="userDetail && userDetail.userType === 'admin'">
    <div class="container">
        <div class="col-sm-12">
            <h2 class="htitle">Dashboard</h2>
            <div class="row">
                <div class="col-sm-12 mrgn_top">
                    <div class="start_date">
                        <div class="row">
                            <div class="col-md-6 datepicker_custom">
                                <label><strong>Choose a Start Date</strong></label>
                                <my-date-picker name="StartDate" [selDate]="StartDate" [options]="myDatePickerOptions" required (dateChanged)="StartDateChanged($event)"></my-date-picker>
                            </div>
                            <div class="col-md-6 datepicker_custom">
                                <label><strong>Choose a End Date</strong></label>
                                <my-date-picker name="EndDate" [selDate]="EndDate" [options]="myDatePickerOptions" required (dateChanged)="EndDateChanged($event)"></my-date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 box2">
                                <div class="innerbox">
                                    <span class="iconz"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <div class="contextt" *ngIf="countuser">
                                        <span>{{countuser.length}}</span>
                                        <p>New Users</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 box1">
                                <div class="innerbox">
                                    <span class="iconz"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                                    <div class="contextt" *ngIf="countuser">
                                        <span>{{countuser.length}}</span>
                                        <p>Total Leads</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="htitle">Quote Request Leads</h2>
            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">User Number</th>
                            <th style="width: auto;">Create Date</th>
                            <th style="width: auto;">Procedure of Interest</th>
                            <th style="width: auto;">First Name</th>
                            <th style="width: auto;">Last Name</th>
                            <th style="width: auto;">Gender</th>
                            <th style="width: auto;">Email</th>
                            <th style="width: auto;">Phone</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of countuser | slice:0:5 | limitTo:5; let i=index">
                            <td style=" text-align:center;">{{i+1}}</td>
                            <td>{{date_change(user.created_at)}}</td>
                            <td>{{getProcedure(user.procedure_name)}}</td>
                            <td>{{user.first_name | titlecase}}</td>
                            <td>{{user.last_name | titlecase}}</td>
                            <td>{{user.gender}}</td>
                            <td>{{user.user_email}}</td>
                            <td>{{user.user_phone}}</td>
                            <td style="padding:3px 28px 0px; cursor: pointer;">
                                <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a routerLink="/edituser/{{user.id}}" class="edit"><i class="fa fa-eye"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<div *ngIf="countuser && countuser.length < 1"><p class="alert alert-danger">No result found</p></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="user_list add_spacing">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">Trending Procedures</th>
                            <th style="width: auto;">Number Of Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leads of leadData;let i=index">
                            <td style=" text-align:left;">{{leads.procedure_name}}</td>
                            <td>{{leads.totalCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--div class="row">
			<div class="col-md-12 add_margn">
				<p class="leads pd_btm-left">Your weekly activity</p>
				<div>
					<canvas baseChart width="800" height="200"
					[datasets]="lineChartData"
					[labels]="lineChartLabels"
					[options]="lineChartOptions"
					[colors]="lineChartColors"
					[legend]="lineChartLegend"
					[chartType]="lineChartType"
					[plugins]="lineChartPlugins">
					</canvas>
				</div>
			</div>
		</div-->
    </div>
</div>

<!--Superadmin Dashboard-->

<div class="dash boxed-container" *ngIf="userDetail && userDetail.userType === 'superadmin'">
    <div class="container">
        <div class="col-sm-12">
            <h2 class="htitle">Dashboard</h2>
            <div class="row">
                <div class="col-sm-12 mrgn_top">
                    <div class="start_date">
                        <div class="row">
                            <div class="col-md-6 datepicker_custom">
                                <label><strong>Choose a Start Date</strong></label>
                                <my-date-picker name="StartDate" [selDate]="StartDate" [options]="myDatePickerOptions" required (dateChanged)="StartDateChanged($event)"></my-date-picker>
                            </div>
                            <div class="col-md-6 datepicker_custom">
                                <label><strong>Choose a End Date</strong></label>
                                <my-date-picker name="EndDate" [selDate]="EndDate" [options]="myDatePickerOptions" required (dateChanged)="EndDateChanged($event)"></my-date-picker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 box2">
                                <div class="innerbox">
                                    <span class="iconz"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    <div class="contextt">
                                        <span>{{newTotalCount}}</span>
                                        <p>New Vendors</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 box1">
                                <div class="innerbox">
                                    <span class="iconz"><i class="fa fa-bullhorn" aria-hidden="true"></i></span>
                                    <div class="contextt" *ngIf="webUser">
                                        <span>{{totalCount}}</span>
                                        <p>All Vendors</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="htitle">Vendors List</h2>
            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">First Name</th>
                            <th style="width: auto;">Last Name</th>
                            <th style="width: auto;">Email</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of vendorCount | slice:0:5 | limitTo:5; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{user.first_name | titlecase}}</td>
                            <td>{{user.last_name | titlecase}}</td>
                            <td>{{user.provider_business_email}}</td>
                            <td style="padding:3px 28px 0px; cursor: pointer;">
                                <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
				<div *ngIf="vendorCount && vendorCount.length === 0"><p class="alert alert-danger">No result found</p></div>
            </div>
        </div>
        <div class="col-md-12">
            <h2 class="htitle"> New Vendors List</h2>
            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">First Name</th>
                            <th style="width: auto;">Last Name</th>
                            <th style="width: auto;">Email</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of newwebUser  | paginate: { itemsPerPage: range, currentPage: activePage, totalItems: totalCount }; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{user.first_name | titlecase}}</td>
                            <td>{{user.last_name | titlecase}}</td>
                            <td>{{user.provider_business_email}}</td>
                            <td style="padding:3px 28px 0px; cursor: pointer;">
                                <button data-toggle="tooltip" data-placement="top" title="View" class="tool_tip"><a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a></button>
                                <button data-toggle="tooltip" class="tool_tip" data-toggle="tooltip" data-placement="right" title="Accept"><a class="edit" (click)="changeStatusWebuser(user.api_key)"><i class="fa fa-check" ></i></a></button>
                                <button data-toggle="tooltip" class="tool_tip" data-toggle="tooltip" data-placement="left" title="Cancel"><a (click)="deleteWebuser(user.api_key)" class="edit"><i class="fa fa-close"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <!--div *ngIf="totalCount>range">
            <app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div-->
    </div>
</div>