/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #30c7c2;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

input:focus{
    box-shadow:none;
    outline:none;
}

_::-webkit-full-page-media, _:future, :root input {
    box-shadow:none!important;
    outline:none!important;
}




button{
    outline: none!important;
    box-shadow:none!important;
}

.boxed-container {
    width: calc(100% - 260px);
    float: right;
    min-height: calc(100vh - 80px);
    position: relative;
    top: 100px;
    display: block;
    padding: 15px;
}

.boxed-container .container {
    max-width: 85%;
}

.dashbrd {
    z-index: 20;
    position: relative;
}

.selectiongroup {
    height: 45px;
    padding: 6px 0px 0!important;
}

.mydp,
.mydp .headertodaybtn,
.mydp .selection,
.mydp .selectiongroup,
.mydp .selector {
    border-radius: 30px!important;
}

.selectiongroup input {
    padding: 0 20px!important;
}

.mydp .selbtngroup {
    padding: 0 18px 0 0;
}

.start_date {
    position: relative;
    z-index: 1;
}

.mydp .selector {
    z-index: 10 !important;
}

.datepicker_custom {
    margin-bottom: 15px;
}

.datepicker_custom label strong {
    font-weight: 500;
    font-size: 15px;
}

select:focus {
    outline: none;
}

.mydp .btnclearenabled:hover,
.mydp .btndecreaseenabled:hover,
.mydp .btnincreaseenabled:hover,
.mydp .btnpickerenabled:hover,
.mydp .headertodaybtnenabled:hover {
    background: #FFF!important;
}

button.btnpicker.btnpickerenabled {
    margin: -4px 0 0 0;
}

i.fa.fa-trash {
    color: #f00!important;
}

.user_list td:last-child {
    text-align: center!important;
}

.ngx-pagination .disabled {
    background: #30c7c2!important;
    padding: 10px 10px!important;
    max-width: 110px!important;
    width: 100%!important;
    color: #000!important;
    border-radius: 3px;
}

.ngx-pagination .current {
    padding: 10px 15px!important;
    cursor: default;
    background: #faa642!important;
    color: #fff!important;
    border-radius: 3px;
}

.ngx-pagination li:last-child {
    background: #30c7c2!important;
    padding: 7px 10px!important;
    max-width: 110px!important;
    width: 100%!important;
    color: #fffF!important;
    border-radius: 3px;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: none!important;
    outline: none;
    box-shadow: none;
}

.ngx-pagination a:hover,
.ngx-pagination button:focus {
    outline: none;
}

ul.ngx-pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 2rem;
}


/*style for tooltip*/

button.tool_tip {
    background: none;
    border: 0;
}

button.tool_tip:focus {
    outline: none;
    box-shadow: none;
}


/*style for tooltip*/

@media(min-width:320px) and (max-width: 767px) {
    .modal-dialog {
        margin: 30px auto;
        width: 90%;
    }
    .ngx-pagination {
        padding: 0;
    }
    .ngx-pagination .disabled {
        max-width: 100px;
    }
    .ngx-pagination li:last-child {
        margin-top: 14px;
    }
}