.reg-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #33adad 0%, #33adad 40%, #33adad 90%);
}

.form-control:focus{
    outline:none; 
    box-shadow:none;
}

.green_sms{
    color:green!important;
}


.container {
    max-width: 650px;
    padding: 2vw 3vw;
    background: #fff;
    border-radius: 50px;
    width: 90%;
    box-shadow: 0px 0px 17px 0px #00000026;
    position: relative;
    max-height: 100%;
}

.container::before {
    content: "";
    width: 330px;
    top: 0;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: 999;
    left: -310px;
    background-size: auto 95%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.col-md-6 {
    align-self: center;
}

.col-md-6.imgg img {
    width: 100%;
    padding: 20px 0;
}

.regfm h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

/*textarea.form-control {
    height: auto !IMPORTANT;
}*/

.form-control {
    background: #ffffff;
    font-size: 12px;
    height: 40px;
    border-radius: 1px;
    /* max-width: 280px; */
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
}
.user-pass i {
    position: absolute;
    right: 5px;
    top: 12px;
    cursor: pointer;
    width: 40px;
    height: 20px;
}

.form-control:focus {
    border-bottom: 1px solid #000;
}

form button.col-md-12.btn.btn-primary {
    max-width: 70%;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 14px;
    z-index: 6;
    position: relative;
    border: none;
    width: 100%;
    border-radius: 30px;
    font-size: 14px;
    background: #faa742;
    cursor:inherit;
}

.form-control:focus {
    border-bottom: 1px solid #000;
}

form input.form-control:focus, .fpass button:focus {
    box-shadow: none;
}

.zop_code {
    width: 100%;
    max-width: 100%!important;
}


.form-group.col-md-12.spanerror {
    color: #f00!important;
}


select{
    -moz-appearance: none;
    -moz-appearance: none !important;
    background-image: url(https://api.superplasticsurgeons.com/uploads/assets/dropdown_icon.png) !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    -webkit-appearance: none;
}

.user-type select {
    -moz-appearance: none !important;
    background-image: url(https://api.superplasticsurgeons.com/uploads/assets/dropdown_icon.png) !important;
    background-position: right center !important;
    background-repeat: no-repeat !important;
    -webkit-appearance: none;
}


@media (max-width:600px){

.container {
    padding: 40px 3vw;
    overflow: auto;
    overflow-x: hidden;
}

.container::before {
    display: none;
}


}


.have_password {
    font-size: 10px;
    color: #888;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0px;
    z-index: 6;
    position: relative;
    border: none;
}

.have_password a{
    text-decoration: none;
}

.have_password:focus{
    outline: none;
    box-shadow:none;
}


.invalid-feedback{
    color:#f00!important;
    font-size:11px!important;
}


@media(min-width:320px) and (max-width: 767px){
  .container{margin-top: 30px; margin-bottom: 30px;}
}


