<div class="reg-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 regfm">
                <h4>Create account</h4>
                <div class="form-group col-md-12 spanerror" style="text-align: center;color: red;">
                    {{message}}
                </div>
                <form focusInvalidInput [formGroup]="regForm" (ngSubmit)="onSubmit(regForm.value)">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <span class="user-type">
								<select formControlName="doctortype" class="form-control" id="doctype">
									<option value="">-- Select Speciality-- * </option>
									<option *ngFor="let docs of doctypes; let i = index" [value]="doctypes[i].id">
									{{doctypes[i].doc_type}}
									</option>
								</select> 
							</span>
                            <div *ngIf="f.doctortype.invalid && (f.doctortype.dirty || f.doctortype.touched)" style="color: red; font-size: 11px;">
                                <div *ngIf="f.doctortype.errors.required ">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-email">
								<input autocomplete="off" type="text" formControlName="FirstName" class="form-control"  id="FirstNames" placeholder="First Name of Point of Contact Provider" [ngClass]="{ 'is-invalid': submitted || f.MobileNo.errors}">
								<div *ngIf="f.FirstName.invalid && (f.FirstName.dirty || f.FirstName.touched)" class="invalid-feedback">
									<div *ngIf="f.FirstName.errors.required || f.FirstName.errors.whitespace && !f.FirstName.errors.minlength">This field is required</div>
									<div *ngIf="f.FirstName.errors.minlength && !f.FirstName.errors.pattern">Minimun length is 3</div>
									<div *ngIf="f.FirstName.errors.pattern">First name should in alphabetical form</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="Text" formControlName="LastName" [ngClass]="{ 'is-invalid': submitted || f.LastName.errors }" class="form-control" id="LastNames" placeholder="Last Name of Provider">
								<div *ngIf="f.LastName.invalid && (f.LastName.dirty || f.LastName.touched)" class="invalid-feedback">
									<div *ngIf="f.LastName.errors.required || f.LastName.errors.whitespace && !f.LastName.errors.minlength">This field is required</div>
									<div *ngIf="f.LastName.errors.minlength && !f.LastName.errors.pattern">Minimun length is 3</div>
									<div *ngIf="f.LastName.errors.pattern && !f.LastName.errors.minlength">Last name should in alphabetical form</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="text" formControlName="name_of_point" required [ngClass]="{ 'is-invalid': submitted || f.name_of_point.errors}" class="form-control" class="form-control" placeholder="Name of Provider Business">
								<div *ngIf="f.name_of_point.invalid && (f.name_of_point.dirty || f.name_of_point.touched)" class="invalid-feedback">
									<div *ngIf="f.name_of_point.errors.required || f.name_of_point.errors.whitespace && !f.name_of_point.errors.minlength">This field is required</div>
									<div *ngIf="f.name_of_point.errors.minlength && !f.name_of_point.errors.pattern">Minimun length is 3</div>
									<div *ngIf="f.name_of_point.errors.pattern && !f.name_of_point.errors.minlength">Name should in alphabetical form</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="Text" formControlName="email_of_point" [ngClass]="{ 'is-invalid': submitted || f.email_of_point.errors }"  class="form-control"  placeholder="Email of-Point-of-Contact Provider">
								<div *ngIf="f.email_of_point.errors && (f.email_of_point.dirty || f.email_of_point.touched)" class="invalid-feedback">
									<div *ngIf="f.email_of_point.errors.required && !f.email_of_point.errors.email">Email is required</div>
									<div *ngIf="f.email_of_point.errors.email || f.email_of_point.errors.pattern">Email must be a valid email address</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="text" formControlName="name_of_point_admin" required class="form-control" placeholder="Name of Point-of-Contact Administrator" [ngClass]="{ 'is-invalid': submitted || f.name_of_point_admin.errors }">
								<div *ngIf="f.name_of_point_admin.invalid && (f.name_of_point_admin.dirty || f.name_of_point_admin.touched)" class="invalid-feedback">
									<div *ngIf="f.name_of_point_admin.errors.required || f.name_of_point_admin.errors.whitespace && !f.name_of_point_admin.errors.minlength">This field is required</div>
									<div *ngIf="f.name_of_point_admin.errors.minlength && !f.name_of_point_admin.errors.pattern">Minimun length is 3</div>
									<div *ngIf="f.name_of_point_admin.errors.pattern && !f.name_of_point_admin.errors.minlength">Name should in alphabetical form</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="Text" formControlName="email_of_point_admin" [ngClass]="{ 'is-invalid': submitted || f.email_of_point_admin.errors }"  class="form-control"  placeholder="Email of Point-of-Contact Administrator">
								<div *ngIf="f.email_of_point_admin.errors && (f.email_of_point_admin.dirty || f.email_of_point_admin.touched)" class="invalid-feedback">
									<div *ngIf="f.email_of_point_admin.errors.required && !f.email_of_point_admin.errors.pattern">This field is required</div>
									<div *ngIf="f.email_of_point_admin.errors.pattern">Email must be a valid email address</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="Text" formControlName="provider_business_email" [ngClass]="{ 'is-invalid': submitted || f.provider_business_email.errors }"  class="form-control"  placeholder="Office Email (ex:info@business.com)">
								<div *ngIf="f.provider_business_email.errors && (f.provider_business_email.dirty || f.provider_business_email.touched)" class="invalid-feedback">
									<div *ngIf="f.provider_business_email.errors.required && !f.provider_business_email.errors.email">This field is required</div>
									<div *ngIf="f.provider_business_email.errors.email || f.provider_business_email.errors.pattern">Email must be a valid email address</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="text" formControlName="providerurl" class="form-control" placeholder="Provider Website URL" [ngClass]="{ 'is-invalid': submitted || f.providerurl.errors }">
								<div *ngIf="f.providerurl.errors && (f.providerurl.dirty || f.providerurl.touched)" class="invalid-feedback">
									<div *ngIf="f.providerurl.errors.required || f.providerurl.errors.whitespace && !f.providerurl.errors.minlength">This field is required</div>
									<div *ngIf="f.providerurl.errors.minlength">Minimun length is 3</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input type="Password" formControlName="Password" class="form-control" id="Passwords" placeholder="Password" [ngClass]="{'is-invalid': f.Password.errors}">
								<i class="fa fa-eye-slash" (click)="showPassword($event)"> </i>
								<div *ngIf="f.Password.errors && (f.Password.dirty || f.Password.touched)" class="invalid-feedback">
									<div *ngIf="f.Password.errors.required || f.Password.errors.whitespace &&!f.Password.errors.pattern && !f.Password.errors.minlength">This field is required</div>
									<div *ngIf=" f.Password.errors.pattern || f.Password.errors.minlength ">Password requires 8 or more characters and must include a number, capital letter and a special character(!,$ etc.).</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" type="Password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted ||  f.ConfirmPassword.errors}" id="CPass" placeholder="Confirm Password">
								<i class="fa fa-eye-slash" (click)="showPassword($event)"> </i>
								<div *ngIf="f.ConfirmPassword.errors && (f.ConfirmPassword.dirty || f.ConfirmPassword.touched)" class="invalid-feedback">
									<div *ngIf="f.ConfirmPassword.errors.required || f.ConfirmPassword.errors.whitespace && !f.ConfirmPassword.errors.minlength">This field is required</div>
									<div *ngIf="f.ConfirmPassword.errors.mustMatch || f.ConfirmPassword.errors.minlength">Confirm passwords must match</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" minlength="8" maxlength="15" type="tel" formControlName="MobileNo" class="form-control" id="MobileNos" placeholder="Main Business Phone" [ngClass]="{ 'is-invalid': submitted || f.MobileNo.errors}">
								<div *ngIf="f.MobileNo.errors && (f.MobileNo.dirty || f.MobileNo.touched)" class="invalid-feedback">
									<div *ngIf="f.MobileNo.errors.required || f.MobileNo.errors.whitespace && !f.MobileNo.errors.pattern && !f.MobileNo.errors.minlength">This field is required</div>
									<div *ngIf="f.MobileNo.errors.pattern && !f.MobileNo.errors.minlength">Mobile should in correct form</div>
									<div *ngIf="f.MobileNo.errors.minlength">Mobile no min length is 8</div>
									<div *ngIf="f.MobileNo.errors.maxLength">Mobile no max length is 15</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<textarea autocomplete="off" rows="1" cols="50" style="resize:none;" formControlName="address" class="form-control" placeholder="Main Office Address" [ngClass]="{ 'is-invalid': submitted || f.address.errors}"></textarea>
								<div *ngIf="f.address.errors && (f.address.dirty || f.address.touched)" class="invalid-feedback">
									<div *ngIf="f.address.errors.required && f.address.errors.whitespace && !f.address.errors.minlength">This field is required</div>
									<div *ngIf="f.address.errors.pattern">Invalid address</div>
									<div *ngIf="f.address.errors.minlength && !f.address.errors.pattern">Minimun length is 3</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<select formControlName="country" class="form-control">
									<option value="">Select Country</option>
									<option value="usa">USA</option>
								</select>
							</span>
                            <div *ngIf="f.country.errors && (f.country.dirty || f.country.touched)" style="color: red; font-size: 11px;">
                                <div *ngIf="f.country.errors.required "> This field is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<select formControlName="state" class="form-control">
									<option value="">Select State</option>
									<option *ngFor="let State_name of States; let i = index" [value]="States[i].id">{{ State_name.value }}</option>
								</select>
							</span>
                            <div *ngIf="f.state.errors && (f.state.dirty || f.state.touched)" style="color: red; font-size: 11px;">
                                <div *ngIf="f.state.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input type="text" autocomplete="off" class="form-control" id="inputCity" placeholder="City" formControlName="city" [ngClass]="{ 'is-invalid': submitted || f.city.errors}">
								<div *ngIf="f.city.errors && (f.city.dirty || f.city.touched)" class="invalid-feedback">
									<div *ngIf="f.city.errors.required || f.city.errors.whitespace && !f.city.errors.minlength  && !f.city.errors.pattern">This field is required</div>
									<div *ngIf="f.city.errors.minlength && !f.city.errors.pattern">Minimun length is 3 </div>
									<div *ngIf="f.city.errors.pattern">City should in correct form</div>
								</div>
							</span>
                        </div>
                        <div class="form-group col-md-6">
                            <span class="user-pass">
								<input autocomplete="off" class="form-control" type="text" formControlName="Zipcode" class="zop_code form-control" placeholder="Zip Code" [ngClass]="{ 'is-invalid': submitted || f.Zipcode.errors}">
								<div *ngIf="f.Zipcode.errors && (f.Zipcode.dirty || f.Zipcode.touched)" class="invalid-feedback">
									<div *ngIf="f.Zipcode.errors.required || f.Zipcode.errors.whitespace && !f.Zipcode.errors.minlength">This field is required</div>
									<div *ngIf="f.Zipcode.errors.minlength">Minimun length is 3</div>
								</div>
							</span>
                        </div>
                        <button [disabled]="regForm.invalid" type="submit" class="col-md-12 btn btn-primary">Register</button>
                        <button class="col-md-12 btn btn-default have_password">Already Have an account? <a [routerLink]="['/login']">Login</a></button>


                    </div>
                </form>
                <!--<div class="signup">
					<a class="siwg" href="#"><img src="assets/img/google.png"></a>
					<p><a class="caa" href="#">Create an Account.</a></p>
					 </div>-->
            </div>
        </div>
    </div>
</div>