<app-header></app-header>
<div class="boxed-container">
    <div class="container">

        <div class="row">
            <span>{{message}}</span><br>
            <form [formGroup]="updateForm" class="container mt-3" (ngSubmit)="logValue(updateForm.value)" novalidate>
                <div class="user-form">
                    <button type="button" type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>

                    <h3>Select Module Type *</h3>
                    <div class="form-group custom_width">
                        <input formControlName="module_type" class="disabledClass" type="text" name="moduleList">
                    </div>

                    <h3>Area of Interest *</h3>
                    <div class="form-group custom_width">
                        <input formControlName="area_interest_val" type="text" class="disabledClass" name="moduleList">
                    </div>

                    <div class="form-group custom_width">
                        <h3>Select Gender *</h3>
                        <select formControlName="procedure_gender" name="procedure_gender" (change)="onGenderChange($event.target.value)">
							<option value="">--Select Gender--</option>
							<option *ngFor="let data of gender">{{data.name}}</option>
						</select>
                        <div *ngIf="submitted && f.procedure_gender.errors" style="color: red; font-size: 12px;">
                            <div *ngIf="f.procedure_gender.errors.required "> This field is required</div>
                        </div>
                    </div>

                    <div class="form-group custom_width">
                        <h3>Select Procedure Type *</h3>
                        <div class="form-group custom_width">
                            <div class="choose_surgical">
                                <label for="surgical">Not Applicable</label>
                                <input formControlName="procedure_type" id="na" type="radio" name="procedure_type" value="null" [checked]='true'>
                            </div>
                            <div class="choose_surgical">
                                <label for="surgical">Surgical</label>
                                <input formControlName="procedure_type" id="surgical" type="radio" name="procedure_type" value="surgical">
                            </div>
                            <div class="choose_surgical">
                                <label for="nonSurgical">Non Surgical</label>
                                <input formControlName="procedure_type" id="nonSurgical" type="radio" name="procedure_type" value="nonsurgical">
                            </div>
                        </div>
                    </div>

                    <div class="form-group custom_width">
                        <h3>Selected Procedure *</h3>
                        <input formControlName="diseaseType" name="diseaseType" />
                        <!-- <select formControlName="diseaseType" name="diseaseType" (change)="diseaseForm($event.target.value)">
							<option [value]="null">--Select Procedure--</option>
							<option *ngFor="let procedure_data of procedureArray; let i = index" [value]="procedureArray[i].id">{{procedureArray[i].procedure_name}}</option>
						</select> -->

                        <div *ngIf="submitted && f.diseaseType.errors" style="color: red; font-size: 12px;">
                            <div *ngIf="f.diseaseType.errors.required"> This field is required</div>
                        </div>
                    </div>


                    <div class="form-group custom_width">
                        <label for="Add Description" class="labels">Description *</label>
                        <textarea style="resize:none;" formControlName="procedure_description" placeholder="Add Description">{{description}}</textarea>
                        <div *ngIf="submitted && f.procedure_description.errors " style="color: red; font-size: 12px;">
                            <div *ngIf="f.procedure_description.errors.required "> This field is required</div>
                        </div>
                    </div>

                    <div *ngIf="shhowGender" class="form-group custom_width">
                        <input formControlName="procedure_gender" class="disabledClass" type="text" name="moduleList">
                        <!--select formControlName="procedure_gender" name="procedure_gender">
							<option value="">--Select Gender--</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="Both">Both</option>
						</select-->
                    </div>

                    <!--div class="form-group custom_width">
                        <label for="Add Disclaimer" class="labels">Add Disclaimer</label>
                        <input type="text" autocomplete="off" formControlName="procedure_disclaimer" name="procedure_disclaimer" placeholder="Add Disclaimer">
                        <div *ngIf="submitted && f.procedure_disclaimer.errors " style="color: red; font-size: 12px;">
                            <div *ngIf="f.procedure_disclaimer.errors.required "> This field is required</div>
                        </div>
                    </div-->

                    <div class="form-group custom_width">
                        <table style="width:50%" class="userdata" *ngIf="genderVal==='Both'">
                            <tr>
                                <th>Quote for Male($) *</th>
                            </tr>

                            <tr>
                                <td>
                                    <input type="text" autocomplete="off" formControlName="procedure_cost_male" name="procedure_cost_male" placeholder="Enter price or price range. Specific price is recommended. *">
                                </td>
                            </tr>
                            <tr *ngIf="submitted && f.procedure_cost_male.errors">
                                <td style="float: right; color: red;" *ngIf="f.procedure_cost_male.errors.required ">This field is required</td>
                                <td style="float: right; color: red;" *ngIf="f.procedure_cost_male.errors.pattern ">Price Should be in Valid number</td>
                            </tr>
                            <tr>
                                <th>Quote for Female($) *</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" autocomplete="off" formControlName="procedure_cost_female" name="procedure_cost_female" placeholder="Enter price or price range. Specific price is recommended. *">
                                </td>
                            </tr>
                            <tr *ngIf="submitted && f.procedure_cost_female.errors">
                                <td style="float: right; color: red;" *ngIf="f.procedure_cost_female.errors.required ">This field is required</td>
                                <td style="float: right; color: red;" *ngIf="f.procedure_cost_female.errors.pattern ">Price Should be in Valid number</td>
                            </tr>
                        </table>
						<table style="width:50%" class="userdata" *ngIf="genderVal==='Female'">
                            <tr>
                                <th>Quote for Female($) *</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" autocomplete="off" formControlName="procedure_cost_female" name="procedure_cost_female" placeholder="Enter price or price range. Specific price is recommended. *">
                                </td>
                            </tr>
                            <div *ngIf="submitted && f.procedure_cost_female.errors" style="color: red; font-size: 12px;">
                                <div *ngIf="f.procedure_cost_female.errors.required" class="error_ad"> This field is required</div>
                                <div *ngIf="f.procedure_cost_female.errors.pattern" class="error_ad"> Price Should be in Valid number</div>
                            </div>
                        </table>
						<table style="width:50%" class="userdata" *ngIf="genderVal==='Male'">
                            <tr>
                                <th>Quote for Male($) *</th>
                            </tr>

                            <tr>
                                <td>
                                    <input type="text" autocomplete="off" formControlName="procedure_cost_male" name="procedure_cost_male" placeholder="Enter price or price range. Specific price is recommended. *">
                                </td>
                            </tr>
                            <div *ngIf="submitted && f.procedure_cost_male.errors" style="color: red; font-size: 12px;">
                                <div *ngIf="f.procedure_cost_male.errors.required" class="error_ad"> This field is required</div>
                                <div *ngIf="f.procedure_cost_male.errors.pattern" class="error_ad"> Price Should be in Valid number</div>
                            </div>
                        </table>
                    </div>

                    <div *ngIf="shhowGender" class="form-group">
                        <label for="Price" class="labels">Price</label>
                        <input type="number" autocomplete="off" formControlName="procedure_cost_start" name="procedure_cost_start" placeholder="Price *">
                        <div *ngIf="submitted && f.procedure_cost_start.errors " style="color: red; font-size: 12px;">
                            <div *ngIf="f.procedure_cost_start.errors.required "> This field is required</div>
                        </div>
                    </div>
                    <span class="erros">{{errormsg}}</span>
                    <div class="form-group submit full_width">
                        <input type="submit" class="btn submit" value="Update" />
                    </div>
                </div>
            </form>
        </div>
    </div>