/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #30c7c2; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
  .boxed-container {
      width: calc(100% - 260px);
      float: right;
      min-height: calc(100vh - 80px);
      position: relative;
      top: 110px;
      display: block;
      padding: 15px;
  }
  
  .boxed-container .container {
      max-width: 85%;
  }
  
  h2.htitle {
      padding: 15px 0px;
      font-size: 20px;
      display: inline-block;
  }
  
  .click_dash{
      background:#f9991f;
      color: #FFF;
      font-size: 13px;
      padding:8px 36px;
      border-radius: 4px;
      display: inline-block;
      margin: 5px 5px 10px 0;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 0;
  }
  
  .Clcik_dash:focus{
      outline:none;
  }
  
  .innerbox {
      padding: 20px 30px 20px;
      background: #fff;
      box-shadow: 0px 0px 7px 1px #0002;
      border-radius: 15px;
      position: relative;
      max-width: 100%;
      margin: 22px 0 0;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      overflow: hidden;
      z-index: 1;
      -webkit-appearance: none;
      -webkit-box-shadow:0px 0px 7px 1px #0002;
  }
  
  .innerbox:hover .contextt span {
      color: #FFF;
  }
  
  .innerbox:hover .contextt p {
      color: #FFF;
  }
  
  span.iconz {
      display: inline-block;
      padding: 23px 0;
      border-radius: 50%;
      background: #579e72;
      position: relative;
      z-index: 99;
      overflow: hidden;
      width: 90px;
      height: 90px;
      text-align: center;
  }
  
  .innerbox .contextt {
      float: right;
      text-align: center;
      position: relative;
      z-index: 99;
  }
  
  .contextt span {
      color: #444343;
      line-height: normal;
      font-size: 20px;
      font-weight: 500;
      z-index: 99;
  }
  
  .contextt p {
      margin-bottom: 0;
      text-transform: uppercase;
      color: #4e4c4c;
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: 500;
      border-top: 1px solid #dbdbdb;
      padding: 1px 5px 0;
  }
  
  .innerbox i.fa {
      font-size: 40px;
      color: #fff;
      position: relative;
  }
  
  .box1 .innerbox i.fa {
      position: relative;
      top: 2px;
      left: 2px;
  }
  
  .innerbox::before {
      position: absolute;
      content: "";
      display: block;
      width: 101%;
      height: 101%;
      right: -101%;
      bottom: 0;
      background: #579e72;
      transition: all ease 0.4s;
      border-bottom-right-radius: 80px;
      z-index: 9;
  }
  
  .innerbox:hover:before {
      right: 0;
      transition: all ease 0.4s;
  }
  
  .box1 .innerbox:hover span.iconz i.fa {
      color: #579e72;
      transition-delay: 0.2s;
  }
  
  .innerbox:hover span.iconz {
      background: #fff;
      transition-delay: 0.15s;
      transition: all ease 0.2s;
  }
  
  .innerbox:hover span.iconz:before {
      right: 0;
      transition: all ease 0.05s;
      transition-delay: 0.25s;
  }
  
  .col-md-4 .innerbox:hover .contextt * {
      color: #fff;
      border-color: #fff;
      transition-delay: unset;
  }
  
  .box2 .innerbox:hover span.iconz i.fa {
      color: #ee3377;
      transition-delay: 0.2s;
  }
  
  .box2 .innerbox::before {
      background: #ee3377;
  }
  
  .box2 span.iconz {
      background: #ee3377;
  }
  
  .box3 .innerbox::before {
      background: #fbb03b;
  }
  
  .box3 span.iconz {
      background: #fbb03b;
  }
  
  .box3 .innerbox:hover span.iconz i.fa {
      color: #fbb03b;
      transition-delay: 0.2s;
  }
  
  
  
  
  .user_list{
      max-height: 480px;
      overflow-y: auto;
      width: 100%;
  }
  
  
  
  .user_list th {
  /*    text-align: inherit;
      padding: 16px 30px 16px;
      color: #000;
      font-size: 16px;
      letter-spacing: 0.4px;
      font-weight: 600;
      text-transform: uppercase;
      border-right: 1px solid #FFF;
      width: 14.28%!important;*/
      padding: 16px 6px 16px;
      color: #000;
      font-size: 12px;
      letter-spacing: 0.4px;
      font-weight: 600;
      text-transform: uppercase;
      border-right: 1px solid #FFF;
      width: 18.28%!important;
      text-align: center;
      white-space: nowrap;
  }
  
  
  .user_list td {
  /*    text-align: inherit;
      padding: 10px 15px 10px;
      color: #000;
      font-size: 14px;
      letter-spacing: 0;
      font-weight: 400;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      width: 14.28%!important;
      word-break: break-all;*/
      text-align: inherit;
      padding: 10px 15px 10px;
      color: #000;
      font-size: 14px;
      letter-spacing: 0;
      font-weight: 400;
      border-right: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
      word-break: inherit;
      white-space: nowrap;
  }
  
  .view {
      background: #faaf3b;
      color: #FFF;
      font-size: 13px;
      padding: 4px 25px;
      border-radius: 50px;
      display: inline-block;
      margin: 5px 5px 10px 0;
      text-decoration: none;
  }
  
  
  
  .view:hover i{
      color:#000;
  }
  
  /*.edit {
      background: #30c7c2;
      color: #FFF;
      font-size: 13px;
      padding: 4px 25px;
      border-radius: 50px;
      display: inline-block;
      margin: 5px 5px 10px 0;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  */
  
  .edit  i{
      color: #30c7c2;
      font-size: 16px;
      padding: 0 10px 0 0;
  }
  
  
  
  .edit:hover i{
      color:#000;
  }
  
  
  .mrgn_top{
      margin: 15px 0px 0px 0px;
  }
  
  .add_margn {
      margin: 0px 0 0;
  }
  
  
  .leads {
      margin: 0;
      padding: 0 0 3px 0;
      color: #383535;
      letter-spacing: 0.5px;
      font-size: 16px;
  }
  
  .pd_btm {
      margin: 0 0 5px!important;
      display: inline-block;
  }
  
  .pd_btm-left{
      margin: 0 0 5px!important;
      display: inline-block;
      padding: 0 0 0 18px;
  }
  
  
  .new_lds {
      font-size: 22px;
      margin: 0;
      padding: 17px 0 10px;
      color: #000;
      display: inline-block;
      float: right;
  }
  
  
  .add_spacing {
      margin: 40px 0 40px;
  }
  .table_outer{width: 100%;}
  
  .start_date h5 {
      font-size: 16px;
      padding: 0 0 10px 15px;
      margin: 0;
      float: left;
  }
  
  .start_date h6 {
      font-size: 16px;
      padding: 0 20px 10px 0px;
      margin: 0;
      float: right;
  }
  
  .start_date {
      width: 100%;
      display: inline-block;
      margin: 0 0 10px;
  }
  
  select.downlodcsv {
      font-size: 16px;
      padding: 12px 36px;
      background: #3a3f48;
      color: #fff;
      border-color: #3a3f48;
      border-radius: 50px!important;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
  }
  
  select.downlodcsv:focus{
      outline: none;
      box-shadow:none;
  }
  
  
  .selectiongroup {
      height: 45px!important;
  }
  
  .start_date input {
      font-size: 13px!important;
      padding: 21px 12px!important;
      min-height: 33px!important;
  }
  
  label strong {
      font-weight: 500;
      font-size: 15px;
  }
  
  .datepicker_custom my-date-picker .selectiongroup {
      height: 45px;
  }





div#myModal button.close{
    position: absolute;
    right: 0;
    top: 0;
    background: #30c7c2;
    opacity: 1 !important;
    text-shadow: none;
    color: #fff;
    padding: 0;
    line-height: 18px;
    padding: 10px;
    padding-top: 10px;
    padding-top: 9px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    z-index: 9;
}

div#myModal button.close:focus{
  outline:none;
}


div#myModal .modal-header{
  border-bottom: 0px solid #dee2e6;
  text-align: center;
}

div#myModal h4.modal-title {
    text-align: center;
    padding: 20px 0 0;
    font-size: 18px;
    width: 100%;
}


div#myModal form input {
    background: #ffffff;
    font-size: 15px;
    height: 45px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
}

div#myModal form select {
    background: #ffffff;
    font-size: 15px;
    height: 45px;
    border-radius: 1px;
    max-width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 25px;
    border-radius: 30px;
  -moz-appearance: none;
  -webkit-appearance: none;
    background-image: url(https://api.superplasticsurgeons.com/uploads/assets/dropdown_icon.png);
    background-position: right center;
    background-repeat: no-repeat;
}



div#myModal form select:focus{
  box-shadow:none;
  outline: none;
}


div#myModal form input:focus{
  box-shadow:none;
}

div#myModal form label{
  font-size:14px;
  font-weight: 500;
  color: #000;

}

div#myModal .modal-footer {
    display: -webkit-box;
    display: inline-block;
    padding: 0;
    border-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    padding-bottom: 20px;
}

.modal-footer button {
    background: #f9991f;
    color: #fff;
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    opacity:0.80;
}

.modal-footer button:hover{
   background: #f9991f;
   opacity:1;
}

div#myModal .form-group {
    margin-bottom: 10px;
}


.procedure_category{
  background: #f9991f;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 50px;
  margin: 0px!important;
}

.procedure_category:focus{
  outline: none;
}


@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
   div#myModal button.close{padding-top: 6px;}

}}


  
  @media(min-width:320px) and (max-width: 767px){
  .boxed-container{width: 100%; top: 80px; padding: 15px 0px; }
  .boxed-container .container{width: 100%; max-width: 100%; }
  .user_list th{font-size: 12px; padding: 16px 10px 16px; width: auto!important; word-break: inherit; white-space: nowrap; }
  .user_list td{font-size: 12px; padding:6px 5px 6px; width: auto; word-break: inherit; white-space: nowrap;}
  span.iconz {width: 40px; height: 40px; padding: 10px; }
  span.iconz i {font-size: 21px!important; }
  .innerbox{padding: 20px 30px; }
  .dash.boxed-container .col-md-12 {padding: 0; }
  h2.htitle {padding: 10px 0px; font-size: 18px; }
  h3.new_lds{font-size: 17px!important; padding: 5px 0 10px!important; color: #000; }
  .user_list th{width: 14.28% !important;}
  .user_list td{width: 14.28% !important;word-break: break-word;}
  .edit{padding: 1px 16px;}
  .new_lds{padding: 0px 0 10px;}
  .table_outer{width: 920px;}
  .mrgn_top{margin: 0px;}
  .datepicker_custom {margin: 0 0 10px; }
  .box2 span.iconz{width: 60px;height: 60px;padding: 18px 0;}
  span.iconz{width: 60px;height: 60px;padding: 18px 0;}
  .procedure_category{font-size:12px!important; padding: 10px 7px!important;}
  .category_title{font-size:12px!important;}
  #myModal {z-index: 99999999999; }
  .user_list{position: relative; z-index: 9;}
  }
  
  @media(min-width:768px) and (max-width: 991px){
  .boxed-container{width: 100%; float: right; min-height: calc(100vh - 80px); top: 130px; padding: 0px; }
  .boxed-container .container{max-width: 100%;}
  .user_list td:last-child {padding: 0px 15px !important; text-align: center !important; }
  .user_list td:last-child a {margin: 5px 0 0 !important; }
  .user_list th{text-align: left; padding:16px 7px 16px;font-size:13px; white-space: nowrap;}
  .user-form{margin: 2vh auto;}
  .table_outer{width: 920px;}
  }
  
  @media(min-width:992px) and (max-width: 1199px){
  .boxed-container{width: 100%; float: right; min-height: calc(100vh - 80px); top: 130px; padding: 0px; }
  .boxed-container .container{max-width: 100%;}
  .user_list td:last-child {padding: 0px 15px !important; text-align: center !important; }
  .user_list td:last-child a {margin: 5px 0 0 !important; }
  .user_list th{text-align: left; padding:16px 7px 16px;font-size:13px; }
  .sidebar-wrapper{left: 0px;}
  .user-form{margin: 2vh auto;}
  }
  
  
  
  
  
  
  
  @media(min-width:1200px) and (max-width: 1366px){
  .user_list td{
      /* padding: 3px 12px 3px!important; */
      font-size: 12px!important;
  }
  .user_list th{
      padding: 16px 19px 16px!important;
      font-size: 12px!important;
  }
  
  
  .view{
      font-size: 12px!important;
      padding: 3px 15px!important;
      margin:5px 12px 2px 0!important;
  }
  
  .edit{
      font-size: 12px!important;
      padding: 3px 15px!important;
      margin: 5px 3px 10px 0!important
  }
  
  span.iconz{
      padding: 10px!important;
  }
  
  span.iconz i {
      font-size: 28px!important;
  }
  
  
  }