<app-header></app-header>

<div class="dash boxed-container">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-6">
                    <h2 class="htitle category_title">Procedure Category List</h2>
                </div>
                <div class="col-6">
                    <button class="procedure_category" data-toggle="modal" data-target="#myModal" (click)="addProcedureCategory()" style="float: right; margin: 15px">Add Procedure Category</button>
                </div> 
            </div>
            <div class="user_list">
                <table cellspacing="0" cellpadding="0" width="100%" style="background: #f5fbfb; border-left: 1px solid #e4e4e4;">
                    <thead style="background: #30c7c2;">
                        <tr>
                            <th style="width: auto;">S.No</th>
                            <th style="width: auto;">Category Name</th>
                            <th style="width: auto;">Module Name</th>
                            <th style="width: auto;">Create At</th>
                            <th style="width: auto;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of procedureCategoryList | paginate: { itemsPerPage: range, currentPage: activePage, totalItems: totalCount } ; let i=index">
                            <td style=" text-align:center;">{{((i+1)+(activePage-1)*range)}}</td>
                            <td>{{data.category_name }}</td>
                            <td>{{data.module_name }}</td>
                            <td>{{date_change(data.procedure_createAt)}}</td>
                            <td style=" cursor: pointer;">
                                <!-- <a [routerLink]="['/webuser',user.api_key]" class="edit"><i class="fa fa-eye"></i></a> -->
                                <button data-toggle="tooltip" data-placement="top" title="Edit" class="tool_tip"><a (click)="editProcedureCategory(data.procedureId)" data-toggle="modal" data-target="#myModal" class="edit"><i class="fa fa-edit"></i></a></button>
                                <button data-toggle="tooltip" data-placement="bottom" title="Delete" class="tool_tip"><a (click)="deleteProcedure(data.procedureId)" class="edit"><i class="fa fa-trash"></i></a></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 align" *ngIf="totalCount>range">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
        <!-- <div class="col-md-12 text-center" *ngIf="totalCount>range">
            <app-pagination [totalRecords]="totalCount" [recordsPerPage]="range" [page]="activePage" (onPageRefresh)="ApiRefresh($event)" (onPageChange)="displayActivePage($event)"></app-pagination>
        </div> -->
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{procedureCategoryId ? "Edit Procedure Category" : "Add Procedure Category"}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form [formGroup]="procedureCategoryForm">
                    <div class="form-group">
                        <label class="center-block">Category Name *</label>
                        <input class="form-control" formControlName="category_name">
                    </div>
                    <div style="color: red; float: right;" *ngIf="popupSub && isSubmit && procedureCategoryForm.controls.category_name.errors && procedureCategoryForm.controls.category_name.errors.required">This field is required</div>
                    <!-- <div style="color: red; float: right;" *ngIf="isSubmit && procedureCategoryForm.controls.category_name.errors && procedureCategoryForm.controls.category_name.errors.pattern">write in correct form</div> -->
                    <div class="form-group">
                        <label class="center-block">Select Module *</label>
                        <select formControlName="module_id">
                            <option [value]="data.moduleId" *ngFor="let data of moduleList">{{data.module_name}}</option>
                        </select>
                    </div>
                    <div style="color: red; float: right;" *ngIf="popupSub && isSubmit && procedureCategoryForm.controls.module_id.errors && procedureCategoryForm.controls.module_id.errors.required">This field is required</div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit()">Submit </button>
                <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>