.settings h2 {
    font-size: 26px;
    margin: 0;
    padding: 0;
    color: #000;
}

.settings h3{ 
    font-size: 20px;
    margin: 0;
    padding: 5px 0 0;
    color: #000;
    float: left;
}

.input_text input {

    width: 100%;
    height: 46px;
    border-radius: 30px;
    border: 1px solid #b2b2b2;
    padding: 0 0 0 10px;
    margin: 20px 0;

}

.input_text {
    margin: 20px 0 0 0;
}

.settings .seetin-ap-key button{
    background: #f9991f;
    color: #FFF;
    font-size: 17px;
    padding: 12px 36px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #f9991f;
}

.settings .seetin-ap-key button:focus{
    outline:none;
}

.settings .seetin-ap-key h3 {
    float: none;
}

span.ap-key {
    display: block;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 30px;
    word-break: break-all;
    background: #f8f8f8;
}


button.back_btn {
    background: transparent!important;
    border: 1px transparent!important;
    font-size: 18px!important;
    margin: 18px 0 0;
    color: #000000!important;
    padding: 0!important;
}

button.back_btn i {
    color: #faa842;
    font-size: 19px;
    padding: 0 4px 0 0;
}


button.back_btn:focus{
    outline: none;
}


@media(min-width:320px) and (max-width: 767px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
.input_text{ margin: 0px 0 0 0;}
span.ap-key{border-radius: 70px;font-size: 13px;}
.settings .seetin-ap-key button{ font-size: 15px;    padding: 10px 26px;}
}


@media(min-width:768px) and (max-width: 991px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }
span.ap-key{border-radius: 70px;font-size: 13px;}

}


@media(min-width:992px) and (max-width: 1199px){
.boxed-container{width: 100%;}
.boxed-container .container {max-width: 100%; }

}
