<app-header></app-header>

<div class="dash boxed-container">
    <div class="container">
        <div class="settings">
            <div class="input_text seetin-ap-key">
                <h3>API Key</h3>
                <button type="button" (click)="backClicked()" class="back_btn"><i class="fa fa-arrow-left"></i> Back</button>
                <span class="ap-key">{{apikey}}</span>
                <button *ngIf="show" (click)="copyText()">Copy to Clipboard</button>
                <button *ngIf="!show" (click)="copyText()">Copied to Clipboard</button>
            </div>
        </div>
    </div>
</div>